// Inheriting box-sizing Probably Slightly Better Best-Practice
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html
	box-sizing: border-box;

*, *:before, *:after
	box-sizing: inherit;


*
	margin  0
	padding 0
	border  0
	
a
	color: inherit
	text-decoration: none
	
.spritesheet
	display: inline-block
	text-indent: -9999px
	
