#login
	h4
		color: GRAY_2
		font-size: 1.15em
		text-align: center
		margin-bottom: 24px
		
	.facebook, .soundcloud
		display: inline-block
		width: 48%
		float: left
	
	.soundcloud
		float: right
		
