@import '../_shared/_bootstrap.styl'

// align intercom icon
#intercom-container .intercom-launcher-button 
  bottom -10px !important
  
@media (max-width: 700px)
  #intercom-container .intercom-launcher-button 
    display: none
    
// STYLEGUIDE
.styleguide
  padding: 20px
  text-align: left
  .buttons_wrapper, .loading_wrapper
    & > *
      display: inline-block
      margin-right: 10px
      margin-bottom: 10px
    
  .loading_wrapper
    background: white
    padding: 10px
    border: 1px solid #ccc
    
  .tags_wrapper
  .loading_wrapper
    width: 50%
    margin: 10px
    vertical-align: top
    
  .tags_wrapper
    background: BLACK
    color: GRAY
    padding: 10px

#debug
  position: fixed
  width: 100%
  top: 50px
  color: white
  font-size: 20px
  background: red
  z-index: 10
  a
    padding-right: 20px

// NOTIFY
body
  min-height: 100vh
  
  &.touch_device
    .create_room_item
      display: none
  &.body_login
    padding-top: 0
    .inner
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      
    .loading_spin
      display: inline-block
      top: 50%
      position: absolute
      left: 50%
      margin-left: -20px
      margin-top: -20px


  .notifyjs-container > div
    background-image: none
    padding-left: 15px
    background: white  
    color: GRAY_3
    border-color: SHARE_BOX
    -webkit-box-shadow: 2px 0 19px rgba(0,0,0,.1),0 0 1px rgba(0,0,0,.16)
    font-size: 0.9rem
    font-weight:600
    text-shadow: none
    width: 260px
    padding: 15px
    border-radius: 3px
    position: relative
    
    .icon  
      margin-right: 10px
      position: relative
      top: 2px
      
    a
      color: BLUE
      text-decoration: underline
    
    .close-notify
      position: absolute
      top: -4px
      right: -4px
      background: rgba(0,0,0,0.9)
      border-radius: 50%
      color: white
      width: 22px
      height: 22px
      text-align: center
      font-weight: bold
      padding-top: 2px
      cursor: pointer
      
  .notifyjs-corner 
    margin-right: 20px
    margin-top: 50px
    .notifyjs-wrapper, .notifyjs-container
      margin-bottom: 12px
      
  &.is_guest .notifyjs-container .icon.ss-alert
    display: inline-block!important
      
body .notifyjs-container
  
  // How to theme notifications
    
  .notifyjs-loopcast_info-base
     background: BLUE 
     color: white 
     opacity: 0.9
      

  .notifyjs-loopcast_error-base
    background: RED   
    color: white
    opacity: 0.9
    
  .notifyjs-loopcast_success-base
    background: GREEN 
    border: 1px solid green
    color: white 
    opacity: 0.9


// ABOUT
.about_page
  color: GRAY_3
  text-align: left
  padding: 0 20px
  margin-bottom: 20px
  
  &.privacy_page, &.terms_page
    .about_content
      text-align: left
    
      div
        margin-bottom: 20px
        h3
          margin-bottom: 5px
  
  .about_title
    font-size: 1.8em
    font-weight: 800
    
  h1
    border-bottom: 1px solid GRAY
    
    padding: 11px 30px
    position: relative
    &:after
      content: ""
      position: absolute
      bottom: 0px
      left: 0
      height: 1px
      width: 100%
      background: #f5f5f5

  .about_content
    padding: 50px 30px
    font-size: 0.9em
    line-height: 1.9em
    overflow: hidden
    letter-spacing: 0.01em
    text-align: center

  .about_description
    text-align: left
  .about_column
    margin-top: 40px
    margin-bottom: 60px
    float: left
    width: 33%
    padding: 0 30px
    img
      width: 100%
      max-width: 200px
      margin: 0 auto
      display: block
      
    h4
      color: #5ca7b3
      font-size: 1.4em
      font-weight: 600
      margin-bottom: 30px
      
    p
      line-height: 21px
      
  .button
    margin: 20px 0
    display: inline-block
    padding-left: 60px
    padding-right: 60px
    
// PLAYER
PLAYER_HEIGHT = 55px
#player
  z-index: 2
  background: rgba(41, 44, 47, 0.99)
  height: PLAYER_HEIGHT
  width: 100%
  position: fixed
  backface-visibility: hidden
  bottom: 0
  left: 0
  //box-shadow: -1px 1px 4px 2px rgba(0,0,0,0.75)
  color: white
  border-top: solid 1px GRAY_3
  
  transform: translateY(100%)
  transition: transform .15s ease-out
  &.visible
    transform: translateY(0)
    
  .player_text
    margin-right: 10px
  
  .loading_spin
    display: none
  &.loading
    .player_button
      .icon
        display: none
      .loading_spin
        display: block



  // .loading_screen
  //   background: rgba(0,0,0,0.6)
    
  //   z-index: 2
  //   display: none
    
  // .loading_spin
  //   display: none

  .close_follow_player
    absolute top -4px right -4px
    background: black
    color: GRAY_4
    font-weight: bold
    text-align: center
    width: 20px
    height: 20px
    border-radius: 50%
    padding-left: 1px 
    

  .follow_player_popup
    position: absolute
    background: #ececec
    color: GRAY_2
    width: 350px
    border-radius: 5px
    box-shadow: 0px 0px 13px -4px #000
    bottom: 110%
    left: 20px
    padding: 10px 0px
    font-size: 14px
    display: none
    opacity: 0
    transform: translate3d(0,200px, 0)
    transition: opacity .2s linear, transform .2s ease-out
    &.show_1
      display: block
      
    &.show_2
      opacity: 1
      transform: translate3d(0,0,0)
    
    &:after
      SIZE = 10px
      content: ""
      position: absolute
      left: 50%
      transform: translateX(-50%)
      top: 100%
      
      width: 0
      height: 0
      border-right: SIZE solid transparent
      border-top: SIZE solid #ececec
      border-left: SIZE solid transparent
    .top
      overflow: hidden
      border-bottom: 1px solid OUTLINE_COLOR
      padding-bottom: 10px
    
    .text
      padding-top: 10px
    .bottom
      padding-top: 10px
      p
        margin-bottom: 5px
    .top, .bottom
      padding-left: 20px
      padding-right: 20px
    .image_wrapper
      overflow: hidden
      border-radius: 50%
      margin-right: 20px
      float: left
      img
        display: block
        
    .blue
      color: #4592d4
      font-weight: 400

    .button
      float: right
      padding: 7px 20px
  .centered
    display: flex
    align-items: center
    justify-content: left
    position: relative
    z-index: 1


  .player_button
    font-size: 2.8em
    margin: 0 16px
    position: relative
    top: -1px
    .icon
      display: block
    

  .player_icon
    width: PLAYER_HEIGHT
    height: PLAYER_HEIGHT
    position: relative
    img
      display: block
      width: 100%
  
  .player_title 
  .player_author
    font-weight: 600
    display: block
    
  .player_title
    font-size: 1em
    margin-bottom: 2px
    
  .player_author
    font-size: .7em
    
  .player_progress
    background: #3e3e40
    height: 4px
    flex: 5
    margin: 0 15px
    position: relative
    cursor: pointer
    border-radius: 5px

    .hitarea
      absolute top -20px left 0
      background: transparent
      cursor: pointer
      z-index: 2
      width: 100%
      height: 40px
    span
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 0%
      background: YELLOW
      border-radius: 5px
      // border-bottom-left-radius: 5px
      transition: width .1s linear, background .2s linear
      &.dragging
        transition: none

      &.no_transition
        transition: none
      
  &.loading
    .player_progress
      span
        background: darken(YELLOW, 30)
  
  .player_track_name
    flex 2
    font-size 0.8rem
    min-width 120px
    margin-bottom 4px
  
  .player_buttons
    margin-left: 0px
    font-size: 1.3em
    flex: 2
    
    & > *
      display: inline-block
      
    .ss-heart
      margin-right: 7px
  
  .player_time
  .player_total_time
    font-size: 0.8em
    font-weight: 600
    margin-bottom: 5px
    margin-top: 3px
    padding-left: 2px
    text-align: right
    
  .player_total_time
    margin-right: 12px
    padding-left: 0px
    
  .player_label
    background: RED
    color: white
    text-transform: uppercase
    font-size: 0.7em
    text-align: center
    font-weight: 600
    border-radius: 2px 
    padding: 1px 3px
    display: none
    position: relative
    top: -3px
  &.is_live
    .player_label
      display: block
    
  .player_right
    margin-right: 10px
    
.ss-heart.liked
  color: RED

.no_touch_device
  
  #player 
    .close_follow_player:hover
      color: white
    .player_progress span:hover
      &:after
        background: YELLOW
  .player_buttons 
    .ss-heart:hover
      color: #aaa
    .ss-heart.liked:hover
      color: RED

    .share_wrapper:hover
      color: YELLOW
      
#player
  .player_buttons
    .itunes
      display none

@media (min-width 700px)
  #player
    .centered
      margin-top -4px
    .player_buttons
      .itunes
        display inline-block
        width 65px
        height 24px
        margin-left 5px
        margin-right 16px
        background url('../images/get_on_iTunes.png')
        background-size contain
        text-indent -9999px
      
@media (min-width 1000px)
  #player
    .centered
      padding 0

@media (min-width 700px)
  #player
    .player_buttons
      flex 7
      
@media (min-width 900px)
  #player
    .player_progress
      flex 4
    .player_buttons
      flex 3
      
@media (min-width 1080px)
  #player
    .player_buttons
      flex 2
      
// GUI
#gui
  position: fixed
  z-index: 10
  bottom: 0
  left: 0
  background: white
  
  
  color: black
  text-align: left
  &.clickable
    cursor: pointer
    &.closed:hover
      background: black
      color: white
  
  pre 
    outline: 1px solid #ccc 
    padding: 5px 
    margin: 5px
  .string 
    color: green
  .number 
    color: darkorange
  .boolean 
    color: blue
  .null 
    color: magenta
  .key 
    color: red

  .icon
    display: none
    padding-top: 4px
    font-weight: bold
  
  &.closed
    text-align: center
    width: 30px
    height: 30px
    overflow: hidden  
    .icon
      display: block
    .content
      display: none
      
// OWNERSHIP
.for_owner
  display: none

.for_guest
  display: block
  
.is_owner
  .for_owner
    display: block
  .for_guest
    display: none
    
.status_debug
  position: fixed
  bottom: 0
  right: 0
  & > *
    float: left
    text-align: right
    
  .square
    background: white
    
    padding: 4px
    font-weight: bold
      
  
// VERTICAL CENTERING
.v_center
  display: flex
  align-items: center
  justify-content: center
  text-align: left
  
.no_touch_device
  .close-notify
    display: none
    
  .notifyjs-wrapper:hover
    .close-notify
      display: block
  .notifyjs-loopcast-base
    .close-notify:hover
      background: #222

@media (max-width: 768px)
  #player .player_track_name
    display none
  #player 
    .fullscreen_elements 
      .player_track_name
        display block
        font-size 1rem
      .player_author
        display none
    

    
@media (max-width: 950px)
  .about_page
    .about_column
      width: 100%
      float: none
      
.oldie
  background: white
  body
    background: white
    color: #A6A6A6
    
  h1
    line-height: 42px
    margin-bottom: 20px
    font-size: 43px
    
  p
    font-size: 20px
    
  #content
    max-width: 600px
    margin: 0 auto
    text-align: left
    
  .links
    text-align: center
    margin-top: 50px
    a
      display: inline-block
      margin: 0 10px
      
.notfound
  margin-top: 150px
  color: white
  font-size: 60px
  
.notfoundp
  margin-top: 20px
  color: white
  
.notfoundmain
  color: white
  
.notfoundbutton
  background-color: BRANDING
  margin-top: 40px
  width: 300px
  margin-right: auto
  margin-left: auto
  padding-top: 17px
  padding-bottom: 40px
  font-size: 15px
  text-transform: uppercase
  font-weight: bold

  
.notfoundbutton:hover
  background-color: rgb(12, 169, 76)

.notfoundimage


.imagecontainer_notfound  
  background-color: BACKGROUND 
  position: absolute
  height: 100vh;
  width:100%;









      