@import '../_shared/_bootstrap.styl'


.profile_theme.createroom
	.cover
		border-bottom: none
		

.source_controls
	width: 220px
	
	input, select
		display: block
		width: 100%
.dashboard_bar
	color: white
	height: 100px
	width: 100%
	background: url("/images/dashboard_gradient.png")
	text-align: left
	padding: 20px
	
	& > *
		display: inline-block
		margin-right: 20px
