@import '../_shared/_bootstrap.styl'

HEIGHT_SUBHEADER = 45px
GRAY_SUBHEADER_BORDER = #d5d4d4


.circle_icon
  color: white
  background: rgba(PLAY_BUTTON_COLOR,PLAY_BUTTON_COLOR,PLAY_BUTTON_COLOR,0.6)
  width: PLAY_BUTTON_W
  height: PLAY_BUTTON_W
  text-align: center
  padding-top: 14px
  padding-left: 7px
  font-size: 28px
  border-radius: 50%
  absolute left 50% top 50%
  transform: translateX(-50%) translateY(-50%)
  
  &.ss-pause
    font-size: 24px
    padding-left: 1px
    padding-top: 16px
    

  
.player_preview
  .share_wrapper
    absolute top 5px right 5px
    opacity: 0
    transition: opacity .2s linear
    
  .loading_spin
      position: absolute
      opacity: 0
      top: 50%
      left: 50%
      transform: translateX(-50%) translateY(-50%)
      
  &.preloading
    .loading_spin
      opacity: 1
    

.explore
  position: relative
  padding-top: HEIGHT_SUBHEADER
  .no_result_explore
    .no_result
      display: block
      
    .flex_sidebar, .flex_content
      display: none
      
  .no_result
    text-align: center
    font-size: 1.2rem
    color: BLACK
    flex: 1
    padding-top: 50px
    display: none
    

  .loading
    absolute top 0 left 0
    width: 100%
    height: 100%
    background: #ececec
    z-index: 0
    transition: opacity .3s linear
    opacity: 0
    
  .explore_content > .loading
    top: 45px
    

  .sub_header
    background: #EFF3F6
    height: HEIGHT_SUBHEADER
    border-bottom: 1px solid GRAY_SUBHEADER_BORDER
    color: GRAY_2
    font-size: .9em
    font-weight: 600
    absolute top 0 left 0
    width: 100%
    z-index: 1
    a
      display: block
    li
      display: inline-block
      height: HEIGHT_SUBHEADER
      padding: 10px 40px 0
      
      .spritesheet, .icon
        position: relative
        top: 2px
        margin-right: 5px
        
      .ss-record-wrapper
        top: -1px
        margin-right: 6px
        
      &.selected
        background: GRAY
        border-left: 1px solid GRAY_SUBHEADER_BORDER
        border-right: 1px solid GRAY_SUBHEADER_BORDER
        border-bottom: 1px solid GRAY
        // transition: border-color .3s linear
        a
          cursor: default
          
    &.fixed
      position: fixed
      backface-visibility: hidden
      li.selected
        border-bottom-color: GRAY_SUBHEADER_BORDER
          

  .likes, .plays
    font-size: .7em
    color: GRAY_4
    margin: 5px 1px
    .spritesheet
      position: relative
      top: 2px
    .text
      margin-left: 5px
      
  .plays
    .spritesheet
      margin-left: 3px
      margin-right: 1px
        
  .explore_content
    padding-top: SIDE_PADDING * 2
    padding-left: SIDE_PADDING
  

  MARGIN_GRID = 30px
  
  .now_live
  .recorded
    
    color: white
    text-transform: uppercase
    font-size: 0.7em
    padding: 2px 6px
    absolute top 0 left 0
    border-bottom-right-radius: 3px
    display: none
    
  .now_live
    background: RED
    
  .recorded
    background: #02B016
    
  .is_live
    .now_live
      display: inline-block
      
  .is_recorded
    .recorded
      display: inline-block
    
  .genres_list
    width: 150px
    margin-right: MARGIN_GRID
    font-size: 0.8em
    a
      display: block
      background: #dedede
      color: #444235
      padding: 6px 12px
      text-align: left
      margin-bottom: 5px
      border-radius: 4px 
      text-transform: capitalize
      &.selected
        background: #747C83
        color: #dedede
        font-weight: 600
        
      
    
  .rooms_grid
    
      


    .inner
      position: relative
      width: 100%
      height: 100%
      z-index: 0
      overflow: hidden
    .room_cell
      width: 210px
      text-align: left
      background: white
      // margin-right: MARGIN_GRID
      margin-bottom: MARGIN_GRID
      
      // float: left
      // overflow: hidden
      position: relative
      border: 1px solid #DDD7D7
      border-bottom: 2px solid #DDD7D7 
      border-radius: 5px
      
      &.not_live
        .room_location
          margin-bottom: 7px
        
      .room_content
        padding: 10px 5px 5px
        word-wrap: break-word
        
        .text .ss-play
          font-size: .8em
          position: relative
          padding-left: 1px
        
      .text
        padding: 0 5px
      
      .thumb_wrapper
        position: relative
        display: block
        border-top-left-radius: 3px
        border-top-right-radius: 3px
        overflow: hidden
      & > .thumb_wrapper
        width: 208px
        height: 208px
        
      .room_thumb
        width: 100%
        display: block
        
        
      h2
        color: BLACK
        font-size: 1em
        font-weight: 800
        line-height: 1.3em
        margin-bottom: 2px
      
      h2:hover 
        color: black 
        
      .room_subtitle
        font-size: 0.8em
        line-height: 1em
        display: block
        margin-bottom: 15px
        font-weight: 600
        &.blue
          color: BLUE
          font-weight: 400
          
      .genres
        margin-bottom: 7px
          
      .likes, .plays
        .text
          position: relative
          top: -1px
          margin-left: 0
      .room_location
        text-transform: capitalize
        color: GRAY_4
        font-size: .8em
        margin-bottom: 15px
        .icon
          position: relative
          top: 2px
          margin-right: 3px
          
    
        

.share_set, .like_set
  margin: 9px 4px
  color: GRAY_4

.share_set
  top: 2px
  position: relative
  left: 2px

.like_set
  border-radius: 50%
  width: 30px
  height: 30px
  text-align: center
  padding-top: 7px
  position: relative
  top: -1px
  left: -1px
  
  
.following_item
  display: none
  
.following
  .not_following_item
    display: none
  .following_item
    display: block
    

.player_preview
  .circle_icon
    opacity: 0
    transition: opacity .2s linear
  &.playing
  &.preloading
    .circle_icon
      opacity: 1  



.loading_on_top
  &.tab_1 .explore_content > .loading
  &.tab_filter .rooms_grid .loading
    z-index: 1
.loading_visible 
  &.tab_1 .explore_content > .loading
  &.tab_filter .rooms_grid .loading
    opacity: 1
    

// .visible
//   &.tab_filter .rooms_grid .loading
//   &.tab_1 .explore_content > .loading
//     z-index: 1
    
// .custom_loading
//   &.tab_filter .rooms_grid .loading
//   &.tab_1 .explore_content > .loading
//     opacity: 1
//     transition: opacity .1s linear
    
  
// .tab_1
//   &.visible .explore_content > .loading
//     opacity: 1
    
    



.no_touch_device
  .explore
    .sub_header li:hover
      color: BLACK
    .genres_list
      a:hover
        background:  #747C83
        color: #dedede
    .room_cell:hover
      .share_set, .like_set
        color: GRAY_2
        
      .like_set:hover
        background: GRAY_2
        color: white
        
  .explore .rooms_grid .room_cell .room_subtitle:hover
    text-decoration: underline
        
  .explore .rooms_grid .room_cell .room_location:hover
    color: GRAY_2
        
  .player_preview:hover
    .circle_icon
      opacity: 1
      
    .share_wrapper
        opacity: 1
        
        
  
  .circle_icon:hover
    background: rgba(PLAY_BUTTON_COLOR,PLAY_BUTTON_COLOR,PLAY_BUTTON_COLOR,0.7)
  

      