NEW_GREEN = #07D159
DARK_GREY = #4B4B4B
NAME_BLUE = #549AE6

.homepage_page
  h1, h2
    font-family 'Montserrat', sans-serif
  h1
    font-size 1.5625rem
    color NEW_GREEN
  .intro
    height 405px
    background: url('../images/home_mobile_bg.jpg') no-repeat 50% 50%
    .container
      width 100%
      position absolute
      top 50%
      left 50%
      transform: translate(-50%, -50%)
      padding 0 10px
    .swiper-slide
      display none
      &:first-child
        display block
  .swiper-pagination, .arrows
    display none
  .row
    position relative
    padding 0 10px
    .container
      margin auto
    p
      font-size 0.9375rem
      line-height 1.9375rem
      padding 20px 0 32px
      color white
    .button
      max-width 260px
      margin-left auto
      margin-right auto
      padding 0 27px
      // text-transform uppercase
      font-size 0.9rem
      line-height 3.3rem
      height auto
      font-weight 600
  .featured
    padding 32px 44px
    .title
      font-family 'Lato', sans-serif
      font-weight normal
      font-size 1.5rem
      line-height 1.75rem
      color DARK_GREY
      border-bottom 1px solid #979797
      text-align center
      padding-bottom 9px
      margin-bottom 25px
    h2
      margin 16px 0 10px
      font-size 1.5rem
      line-height 1.75rem
      color DARK_GREY
      text-align left
    .room_subtitle
      color NAME_BLUE
    .room_content
      text-align left
      
  .room_cell
    margin-bottom 30px
    .room_title
      font-family 'Lato', sans-serif
      font-size 1.25rem
      font-weight normal
    & > .thumb_wrapper
      display block
      position relative
      overflow hidden
      &:before
        display block
        content ""
        width 100%
        padding-top 100%
      img
        height 100%
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        
// only for mobile
@media (max-width: 699px)
  .homepage_page
    .intro
      h1, p
        max-width 300px
        margin-left auto
        margin-right auto
    .dynamic_wrapper
      background white
    .row .button
      max-width 150px
      
    .featured
      .swiper-wrapper
        display block


// Tablet and up
@media (min-width: 700px)
  .homepage_page
    .container
        max-width 1140px
    .intro
      padding-left 0
      padding-right 0
      background none
      .swiper-pagination
        display block
        width 100%
        height 12px
        position absolute
        z-index 100
        bottom 24px
        left 50%
        transform translate(-50%, 0)
      .container
        left 0
        padding-top 27px
        padding-left 25px
        transform translate(0, -50%)
      .swiper-slide
        display block
      .first-slide
        background url(../images/carousel1.jpg) no-repeat 50% 50%
        background-size cover
      .second-slide
        background url(../images/carousel2.jpg) no-repeat 50% 50%
        background-size cover
      h1, p
        text-align left
      h1
        font-size 34px
      p
        font-size 17px
        max-width 560px
      .button
        margin-left 0
    .row
      .button
        max-width 300px
    
    .featured
      padding-left 25px
      padding-right 25px
      .title
        text-align left
      .container
        position relative
      .arrows
        display block
        position absolute
        top -12px
        right 0
      .arrow
        &:first-child
          margin-right 25px
        &:hover
          opacity 0.8
          transition opacity 0.2s
      .room_title
        font-family 'Open sans', sans-serif
        font-size 1.25rem
        line-height 1.5rem


// Desktop and up
@media (min-width: 960px)
  .homepage_page
    // empty
      

// Large Desktop
@media (min-width: 1140px)
  .homepage_page
    .intro
      .container
        left 50%
        padding-left 0
        transform translate(-50%, -50%)