NEW_GREEN = #07D159

.homepage_page
  h1, h2
    font-family 'Montserrat', sans-serif
  h1
    font-size 1.5625rem
    color NEW_GREEN
  .intro
    height 405px
    background: url('../images/home_mobile_bg.jpg') no-repeat 50% 50%
  .row
    padding 0 10px
    .container
      margin auto
    p
      font-size 1.31rem
      line-height 2.8125rem
      padding 20px 0 32px
    .button
      max-width 260px
      margin-left auto
      margin-right auto
      padding 0
      text-transform uppercase
      font-size 0.9rem
      line-height 3.3rem
      height auto
      font-weight 600

// Small phones
@media (max-height: 480px)
  .homepage_page
    .row
      h1, h2
        font-size 1.6rem
      p
        font-size 1rem
        line-height 1.8rem
      .button
        font-size 1rem
        line-height 2.5rem


// Tablet and up
@media (min-width: 700px)
  .homepage_page
    .container
      max-width 1140px
      padding-left 25px
      padding-right 25px
      margin-left auto
      margin-right auto
    .row
      height auto
      min-height 850px
      .button
        max-width 300px


// Desktop and up
@media (min-width: 960px)
  .homepage_page
    // empty for now