@import '../_shared/_bootstrap.styl'

#login
	h4
		color: GRAY_2
		font-size: 1.15em
		text-align: center
		margin-bottom: 75px
	
	form
		position: relative
		.label_error
			position: absolute;
			top: -40px;
			left: 0;
			color: #f00;
			width: 100%;
			font-size: 11px;
			text-align: center;
			display: none
			
	.button
		margin: 10px auto
			
	div.error
		.label_error
			display: block
			
	&.popup
		absolute top 0 left 0
		width: 100%
		height: 100%
		
		.md_wrapper
			absolute top 0 left 0
			width: 100%
			height: 100%	
			overflow: visible
			

.login_page
	header
		display: none
	#content
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;