.new_homepage_page
  
  h1, h2
    font-family 'Montserrat', sans-serif
    
  h1
    font-size 4rem
    
  h1, h2, p, li
    color white
    
  .row
    display flex
    height 100vh
    padding 0 10px
    background-repeat no-repeat
    background-position center center
      
    .container
      margin auto
    
    h1, h2
      font-size 2.11rem

    p
      font-size 1.31rem
      line-height 2.8125rem
      padding 20px 0 32px
      
    .button
      max-width 260px
      margin-left auto
      margin-right auto
      padding 0
      text-transform uppercase
      font-size 0.9rem
      line-height 3.3rem
      height auto
      font-weight 600
      
      &.stream
        border 2px solid #fdbb30
    .button.listen.white_transparent_border:hover
      background: white
      color: rgb(55,55,55)
      
    .button.yellow_rounded.stream:hover
      background: #FBAD0A
      
    .button.yellow_rounded:hover
      background: #FBAD0A
      
    .button.yellow_rounded.join
      background: none 
      border: 2px solid white
      
    .button.yellow_rounded.join:hover
      background: white
      color: rgb(55,55,55)   
      
      
    h2
      padding-bottom 24px

    li
      font-size 1.0625em
      line-height 2.47rem
      margin 1rem 0


    &.intro
      .container
        padding-bottom 55px

    &.convenient
      h2
        padding-bottom 8px
      
    &.refined
      h2
        padding-bottom 14px
      
    &.join
      min-height auto
      
  .img-container
    display none
      

  // First row
  .intro
    .stream
      display none
      

  // Third row
  .refined
    .button
      margin-top 34px
      text-transform none
      

// Small phones
@media (max-height: 480px)
  .new_homepage_page
    .row
      h1, h2
        font-size 1.6rem
      p
        font-size 1rem
        line-height 1.8rem
      li
        line-height 2rem
        margin-bottom 1rem
        
      .button
        font-size 1rem
        line-height 2.5rem


// Tablet and up
@media (min-width: 700px)
  .new_homepage_page

    .container
      max-width 1140px
      padding-left 25px
      padding-right 25px
      margin-left auto
      margin-right auto
    
    .row
      height auto
      min-height 850px
      
      .button
        max-width 300px
        
      
      h2
        font-size 1.7375rem
        line-height 3rem
      
    .img-container
      display block
      width 75%
      margin 0 auto 30px
      
      img
        width 100%
        border-radius 7px

    
    // First row
    .intro
      h1
        width 440px
        margin-left auto
        margin-right auto
        font-size 4rem
      p
        padding-top 60px
        font-size 1.5rem
        line-height 2.1rem
        padding-bottom 76px
      
      .buttons
        overflow hidden
        width 580px
        margin 0 auto

      .button
        display inline-block
        width 272px
        float left
        
        &.listen
          float right
    
          
    // Second row
    .convenient
      h2
        width 320px
        margin-left auto
        margin-right auto
        
      .button
        clear both
          

    .refined
      .img-container
        margin-bottom 25px
      .text
        margin-bottom 35px
      .button
        width 510px
        margin 0 auto
        clear both
        text-transform uppercase


// Desktop and up
@media (min-width: 960px)
  .new_homepage_page
    .text, .img-container
      width 50%
      text-align left
    
    .text
      float left
      padding-right 5px
      
    .img-container
      float right
      padding-left 5px
    
    .row
      min-height 700px

      li
        list-style disc
        
      h2
        // font-size 3rem
        // line-height 4.5rem

    .convenient, .refined
      ul
        padding-left 20px
        margin-bottom 35px
      li
        font-size 1.2375rem
        line-height 1.6rem
      .img-container
        margin-bottom -90px
      .button
        margin-left 0
        margin-right 0

    // First row
    .row.intro
      .container
        padding-bottom 0
      
      h1
        width auto
        // font-size 4rem
        margin-left 0
      p
        // font-size 2rem
        // line-height 2.8125rem
        padding-top 52px
        padding-bottom 76px
      
      
    // Second row
    .convenient
      h2
        width 490px
        margin-left 0
        margin-right 0
        

  // Old browsers
  .explorer_11, .explorer_10
    &.new_homepage_page
      .row
        display block
        position relative
        
        &.refined
          overflow hidden
      
      .container
        width 960px
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)
        
        h2
          width auto