@import '../_shared/_bootstrap.styl'

.profile
	background: white
	position  : relative
	
	// maybe player should be a global thing right?
	.player
		display: none
		
		.vu
			.meter_left, .meter_right
				height       : 5px
				margin-bottom: 5px
				width        : 0
				
				background: #6A0
				display: block
				
	.controls
		display: none
		
		width 100%
		background #222
	
	h2
		font-size: 1.3em
		line-height: 1em
		margin-bottom: 5px

	.change_cover
		position: absolute
		top: 50%
		left: 50%
		transform: translateX(-50%) translateY(-50%)
		overflow: hidden
		
	
	.cover
		height: 350px
		position: relative
		overflow: hidden
		border-bottom: 1px solid #999
		.cover_image
			absolute top 0 left 0
			width: 100%
			height: 100%
			background-size: cover
			background-position: 50% 50%
			z-index: 0
		.content
			z-index: 1
			absolute top 0 left 0
			width: 100%
			height: 100%
			text-align: left
			
		.name
			font-size: 2.5em
			margin-bottom: 3px
			font-weight: 600
			padding: 5px 10px 10px
			letter-spacing: 0.03em
			line-height: 1em
			margin-top: 3px
			color: GRAY
			
		.type, .genres
			font-size: 1em
			font-weight: 600
			color: GRAY_1
			line-height: 0.9em
			
		.genres li
			display: inline-block
			

		.profile_image
			absolute bottom 0 left 50px
			width: 150px
			overflow: hidden
			img
				box-shadow: 1px 1px 66px 3px #000
				display: block
				width: 100%
			.edit_image
				absolute left 0 bottom 0
				background: rgba(0,0,0,.8)
				padding: 10px
				padding-left: 50px
				width: 100%
				color: GRAY_1
				font-size: .8em
				line-height: .9em
				font-weight: 600
				transition: transform .3s ease-out
				transform: translateY(100%)
				.spritesheet
					absolute left 15px top 50%
					transform: translateY(-50%)
				
	.sidebar_right
		background: rgba(0,0,0,0.9)
		absolute top 0 right 0
		height: 100%
		text-align: center
		color: GRAY_1
		padding: 30px 15px
		transition: background .5s linear, color .5s linear
	.big_number
		margin-bottom: 20px
		span
			display: block
			
			&.number
				font-size: 2.4em
				line-height: 1.1em
				
			&.text
				font-size: .9em
				line-height: 1em
				
	.cover_button
		position: absolute
		bottom: 20px
		right: 130px
		span.spritesheet
			transform: scale(.7,.7)
				
	.profile_content
		padding: 40px 50px
		display: flex
		text-align: left
		.profile_left
			position: relative
			width: 290px
			margin-right: 50px
		.profile_bio
			width: 100%
			position: relative
			padding: 13px 26px
			
			.outline_icon
				position: absolute
				top: 5px
				right: 10px
			h4
				font-size: 1.1em
				margin-bottom: 14px
			.bio
				color: GRAY_2
				font-size: 0.9em
				
		.social
			margin-top: 20px
			a
				display: inline-block
				margin-right: 20px
			
		.list_sessions
			flex: 1
		
		.session
			height: 100px
			width: 100%
			margin-bottom: 40px
			display: flex
			height: 170px
			.image
				width: 200px
				background-size: cover
				background-position: 50% 50%
				position: relative
				.play_icon
					absolute left 50% top 50%
					transform: translateX(-50%) translateY(-50%)
			.content
				flex: 1
				padding: 16px 20px
				position: relative
			
			h2
				padding-right: 20px
				
			.session_author
				color: BLUE
				font-size: .9em
				margin-bottom: 10px
				display: block
				
			
			.genres
				margin-bottom: 15px
				
			.small_info
				color: GRAY_2
				& > *
					display: inline-block
					margin-right: 10px
					font-size: .8em
					span
						display: inline-block
						background: GRAY_2
						width: 10px
						height: 10px
						margin-right: 5px
			.live
				position: absolute
				bottom: 10px
				right: 10px
				width: 100%
				text-align: right
				font-weight: 700
				line-height: 0.8em
				font-size: 0.7em
				.time, .label
					display: inline-block
					
				.time
					color: RED
					margin-left: 10px
					text-transform: uppercase
					font-size: 1.4em
					
				.label
					
					background: RED
					border-bottom-right-radius: 4px
					padding: 7px 20px
					padding-right: 30px
					text-transform: uppercase
					color: #fff
					position: relative
					
					text-align: left
					&:after
						content: ""
						background: white
						width: 8px
						height: 8px
						border-radius: 5px
						position: absolute
						top: 50%
						transform: translateY(-50%)
						left: 7px
						
			.header_settings_hover
				position: absolute
				top: 10px
				right: 10px
	

	.recorded_sessions
		.title 
			margin-bottom: 30px
			*
				display: inline-block
				vertical-align: top
			h2
				margin-right: 30px
				
			.session_icon
				position: relative
				top: 3px
				margin-right: 5px
				
			.session_text
				margin-right: 15px
				padding-top: 1px
				
			.alert_icon
				position: relative
				top: 3px
				margin-right: 5px
			
			.alert_text
				font-size: 0.7em
				color: RED
				font-weight: 800
				padding-top: 4px
				
.profile_form				
	padding-top: 10px
	textarea
		height: 200px
		
	.save_button
		padding-left: 40px
		padding-right: 40px
		margin: 0 auto 20px

.tag
	display: inline-block
	color: white
	background: #C1C7C6
	border-radius: 2px
	padding: 3px
	margin-right: 6px
	text-transform: uppercase
	font-size: .8em
	line-height: 0.9em
	

// READ / WRITE SECTION
.element_on_read_mode
	display: block
	
.element_on_write_mode
	display: none
	

.write_mode
	.element_on_read_mode
		display: none
		
	.element_on_write_mode
		display: block
		
	.profile .cover .profile_image .edit_image
		transform: translateY(0)
// --------------------------


	
.no_touch_device
	.tag:hover
		background: darken( #C1C7C6, 10 )
		
	.profile 
		.header_settings_hover:hover
			opacity: 0.8
			
		.sidebar_right:hover
			background: rgba(0,0,0,0.7)
			color: lighten( GRAY_1	, 20 )
			
		.cover_button:hover
			background: #fff
			// color: #E5E9E8
		
				

			
		