@import '../_shared/_bootstrap.styl'

G_1 = #d6d2d2
G_2 = #ededed
G_3 = #8a8789
B_1 = #251a14
BLU_1 = #8ea6b1

PADDING_SIDE = 40px
// h1,h2,h3,h4,h5,h6
//   font-size: inherit
  
body.tape_view
  display: flex
  min-height: 100vh
  flex-direction: column
  #content
  .inner_content
  .dynamic_wrapper
  .tape_view
  .tape_inner
    display: flex
    flex: 1
    
  .tape_info
    .follow_button
      margin-top: 2px
  .tape_view
    display: flex
    flex-direction: column
    background: white
    font-size: 12px
    color: #424242
    // font-family: Helvetica
    
._overflow
  overflow: hidden
  & > *
    float: left
.transp_box
._white_box
  padding: 20px
  font-weight: normal
      
.transp_box
  color: white
  background: rgba(0,0,0,0.6)
  
  
._white_box
  background: rgba(255,255,255,1)
  color: B_1
  text-align: center
  padding: 20px 30px
  transition: background .2s linear
  
.tag
  // padding: 4px 10px
  // background: BLU_1
  // color: white
  // text-align: center
  // display: inline-block
  // font-size: 12px
  margin-right: 2px
  margin-bottom: 2px

.tape_author
  margin-right: 10px
.tape_play
  margin-right: 40px
  display: block
  width: 160px
  transition: opacity .2s linear
  color: white
  border: 1px solid white
  border-radius: 50%
  padding-top: 19px
  padding-left: 28px
  width: 95px
  height: 95px
  font-size: 50px
  img
    display: block
    width: 100%
    
.tape_view
  text-align: left
  .tape_header
    position: relative
    background-size: cover
    background-position: center center
    height: 400px
    width: 100%
    padding: PADDING_SIDE
    
    .first_line
      position: relative
      z-index: 1
    
  .tape_title
    font-size: 2.7em
    margin-bottom: 4px
  .tape_author_wrapper
    font-size: 1.3em
  
      
    
  
  .side_column
    padding: 17px PADDING_SIDE
    
  .padded
    padding-left: PADDING_SIDE
    padding-right: PADDING_SIDE
    

  
  .main_column
    border-right: 1px solid G_1
    flex: 1
  .side_column
    flex: 0 0 400px
    

  .main_column
    .first_line
      display: flex
      padding-top: 20px
      margin-bottom: 20px
      .tags
        flex: 1
      .buttons
        width: 450px
        font-size: 12px
        text-align: right
        img
          width: 30px
        & > *
          display: inline-block
          vertical-align: top
          margin-left: 22px
          
        .label
          vertical-align: top
          margin-left: 5px
          position: relative
          top: 3px
          
.tape_brown_button
  color: white
  text-align: center
  background: G_3
  absolute bottom 10px right 40px
  padding: 4px 10px
  

.chat_user_thumb
  width: 50px
  height: 50px
  border-radius: 50%
  overflow: hidden
  img
    display: block
    width: 100%
    
.tape_view .chat_line
  position: relative
  padding-left: 100px
  padding-top: 16px
  margin-top: 10px
  padding-bottom: 20px
  .chat_user_thumb
    absolute top 10px left 40px
    
  .chat_user_text
    position: relative
    
  .chat_name
    font-weight: normal
    font-size: 1.4em
    margin-bottom: 8px
    font-weight: 600
    cursor: pointer 
    
  .chat_name:hover  
    color: #4592d4 
    
.tape_view .post_comment_wrapper
  background: G_2
  padding-right: 160px
  padding-bottom: 10px
  textarea
    background: transparent
    margin: 0
    outline: none
    transition: height .1s ease-out
    height: 54px
    
    &:focus
      height: 100px
    
.side_column
  .number    
    color: BLUE
  .list_users
    h3
      margin-left: 6px
      margin-bottom: 20px
    margin: 0 auto
    width: 310px
    a
      display: inline-block
      margin-right: 6px
      margin-left: 6px
      margin-bottom: 5px
.no_touch_device
    
  .tape_view .main_column .first_line .buttons > a:hover
    opacity: 0.8
    
  // .tag_item:hover
  //   background: #65767D
    
  ._white_box:hover
    background: rgba(255,255,255,.6)
    
  .tape_play:hover
    opacity: 0.8