@import '../_shared/_bootstrap.styl'

G_1 = #d6d2d2
G_2 = #ededed
G_3 = #8a8789
B_1 = #251a14
BLU_1 = #8ea6b1

PADDING_SIDE = 40px
// h1,h2,h3,h4,h5,h6
//   font-size: inherit
  
body.tape_view
  display: flex
  min-height: 100vh
  flex-direction: column
  #content
  .inner_content
  .dynamic_wrapper
  .tape_view
  .tape_inner
    display: flex
    flex: 1
    
  .tape_info
    .follow_button
      margin-top: 2px
  .tape_view
    display: flex
    flex-direction: column
    background: white
    font-size: 12px
    color: #424242
    // font-family: Helvetica
  .chat_list_messages
    padding-bottom: 20px
    height: 400px
    overflow-y: scroll
._overflow
  overflow: hidden
  & > *
    float: left
.transp_box
._white_box
  padding: 20px
  font-weight: normal
      
.transp_box
  color: white
  background: rgba(0,0,0,0.6)
  
  
._white_box
  background: rgba(255,255,255,1)
  color: B_1
  text-align: center
  padding: 20px 30px
  transition: background .2s linear
  
.tag
  // padding: 4px 10px
  // background: BLU_1
  // color: white
  // text-align: center
  // display: inline-block
  // font-size: 12px
  margin-right: 5px
  margin-bottom: 2px

.no_favourites
  absolute top 20% left 0
  padding: 0 24px
  width: 100%
  
  
  text-align: center
  font-size: 16px
  line-height: 21px
  .label
    display: none
  .icon
    font-size: 80px
    line-height: 140px
  .icon:hover
    color: #383737

.tape_author
  margin-right: 10px
.tape_play
  margin-right: 40px
  display: block
  width: 160px
  transition: opacity .2s linear
  color: white
  border: 1px solid white
  border-radius: 50%
  padding-top: 19px
  padding-left: 28px
  width: 95px
  height: 95px
  font-size: 50px
  position: absolute
  top 0 
  left 0 
  &.ss-pause
    font-size: 44px
    padding-left: 25px
    padding-top: 21px
  img
    display: block
    width: 100%
    
.tape_view
  text-align: left
  .tape_header
    position: relative
    background-size: cover
    background-position: center center
    height: 350px
    width: 100%
    padding: PADDING_SIDE
  
    
    .first_line
      position: relative
      z-index: 1
      padding-left: 120px
      
    .waveform_wrapper
      absolute bottom 30px left 0
      padding: 0 40px
      width: 100%
      z-index: 1
      cursor: pointer 
      .inner
        background-size: cover
        background-image: url("/images/waveform_dark.png")
        height: 90px
        position: relative
        .progress
          absolute top 0 left 0
          height: 90px
          background-size: cover
          background-image: url("/images/waveform_light.png")
          width: 0%
      
    
  .tape_title
    font-size: 2.7em
    margin-bottom: 4px
  .tape_author_wrapper
    font-size: 1.3em
  
  .tag_round 
    border-radius: 12px
    padding-left: 12px 
    padding-right: 12px      
    
  
  .side_column
    padding: 17px 24px
    position: relative
    .with_favourites
      display: none
      
    &.favourited
      .with_favourites
        display: block
        
      .no_favourites
        display: none
    
  .padded
    padding-left: PADDING_SIDE
    padding-right: PADDING_SIDE
    

  
  .main_column
    border-right: 1px solid G_1
    flex: 1
  .side_column
    flex: 0 0 360px
    

  .main_column
    .first_line
      display: flex
      padding-top: 20px
      margin-bottom: 0px
      .tags
        flex: 1
      .buttons
        width: 450px
        font-size: 12px
        text-align: right
        
        & > *
          display: inline-block
          vertical-align: top
          margin-left: 22px
          font-size: 1rem
          
          &.share_icon
            font-size: 1.3rem
            position: relative
            top: -2px
          
        .label
          vertical-align: top
          margin-left: 10px
          position: relative
          font-size: 0.8rem
          
.like_counter
  .icon
    cursor: pointer
  &.liked
    .icon
      color: RED
          
.tape_brown_button
  color: white
  text-align: center
  background: G_3
  absolute bottom 10px right 40px
  padding: 4px 10px
  

.chat_user_thumb
  width: 50px
  height: 50px
  border-radius: 50%
  overflow: hidden
  &.like
    overflow: visible
    font-size: 27px
    color: RED
    text-align: center
    padding-top: 7px
    
  img
    display: block
    width: 100%
    
.tape_view .chat_line
  position: relative
  padding-left: 100px
  padding-top: 16px
  margin-top: 10px
  padding-bottom: 20px
  .chat_user_thumb
    absolute top 10px left 40px
    
  .chat_user_text
    position: relative
    
  .chat_name
    font-weight: normal
    font-size: 0.9rem
    font-weight: 600
    cursor: pointer 
    span
      margin-bottom: 8px
      font-size: 0.7rem
      color: GRAY_4
    
  .chat_name:hover  
    color: #4592d4 
    
.tape_view .post_comment_wrapper
  background: G_2
  padding-right: 160px
  padding-bottom: 10px
  textarea
    background: transparent
    margin: 0
    outline: none
    transition: height .1s ease-out
    height: 54px
    
    // &:focus
    //   height: 100px
    
.side_column
  .number    
    color: BLUE
  .list_users
    h3
      margin-left: 6px
      margin-bottom: 20px
    margin: 0 auto
    width: 310px
    a
      display: inline-block
      margin-right: 6px
      margin-left: 6px
      margin-bottom: 5px
      
@media (max-width: 1100px)
  .tape_view .main_column .first_line 
    display: block
    text-align: left
    .tags, .buttons
      flex: auto
      width: 100%
      text-align: left
      margin-bottom: 10px
    .buttons > *
      margin-left: 0
      margin-right: 22px
.tape_view .main_column .first_line .buttons .edit_icon
  display: none
  
.is_owner.tape_view .main_column .first_line .buttons .edit_icon
  display: inline-block
  

.no_touch_device
    
  .tape_view .main_column .first_line .buttons > a:hover
    opacity: 0.8
    
  // .tag_item:hover
  //   background: #65767D
    
  ._white_box:hover
    background: rgba(255,255,255,.6)
    
  .tape_play:hover
    opacity: 0.8