@import '../_shared/_bootstrap.styl'


.upload-page

  .upload-box
    width 980px
    margin 0 auto
    overflow hidden
    opacity 1
    transition opacity 0.6s
    
    &.opaque
      opacity 0
    
    .container
      width 2940px
      transition transform 0.6s
      transition-delay 0.1s
      
      &.page1-active
        transform translate3d(0, 0, 0)
        .page1
          opacity 1
        .page2, .page3
          opacity 0
        
      &.page2-active
        transform translate3d(-980px, 0, 0)
        .page2
          opacity 1
        .page1, .page3
          opacity 0
        
      &.page3-active
        transform translate3d(-1960px, 0, 0)
        .page3
          opacity 1
        .page1, .page2
          opacity 0
    
      


  .page
    width: 980px
    float left
    margin: 0 0 40px
    background white
    padding 40px 0;
    border 1px solid #DDD7D7
    border-bottom: 2px solid #DDD7D7 
    border-radius: 5px
    transition opacity 0.4s

  .page2
    padding: 40px 100px 90px;
    height: 589px

  
  #sample-upload-box
    display none


  // Page 1, drag and drop upload
  padding-top 40px
  color #7d7d7d
  
  h1
    font-size 1.2em
    line-height 1.6em
    margin-bottom 8px
    
  .description
    width 590px
    margin 0 auto
    
  .drag-and-drop
    width 620px
    height 250px
    margin 40px auto 52px
    border 2px dashed #b3b3b3
    cursor pointer
    
    &:hover
      border-color BLUE
      -webkit-box-shadow: 6px 6px 7px -1px rgba(171,171,171,1);
      -moz-box-shadow: 6px 6px 7px -1px rgba(171,171,171,1);
      box-shadow: 6px 6px 7px -1px rgba(171,171,171,1);
      
      .icon
        color BLUE
    
    .icon
      margin-top 36px
      font-size 4em
    
    h2
      font-size 1.4em
      font-weight normal
      margin-bottom 5px
      
    p
      font-size 1.2em
      
  p.record
    color #7d7d7d
    font-size 0.9em
    
  .button
    width 200px
    margin 24px auto 0
    
  .publish
    color white 
    
    
  #preview-template
    display none
  
  .preview-container
    display none
    
  // Page 2, upload description form
  .page2
    .content
      width 784px
      margin 0 auto
    
    .progress-bar
      margin 0 17px
      
      .percent
        font-size 0.9em
        // color #07A6BE
        margin-bottom 1px
        
      .bar
        height 14px
        margin-bottom 10px
        border-radius 4px
        overflow hidden
        background-color #b9b9b9
        
        .value
          width 50%
          height 100%
          background #fdbb30
          
    
    .wrapper
      min-height 502px
      position relative
      padding 17px
      padding-bottom 36px
      border-radius 3px
      background #fff
    
    .mix-cover
      position relative
      width 290px
      height 290px
      float left
      background url('../images/default_uploaded_mix_cover.jpg') no-repeat center center
      
      .button, .cloudinary_fileupload
        position absolute
        left 50%
        bottom 10px
        transform translateX(-50%)

      .button
        z-index 0
        font-size 0.8em
        color #b6b6b6
        background-color rgba(0,0,0,0.77)
        &:before
          position relative
          top -3px
          font-size 1.8em
          margin-right 7px
        .icon
          position relative
          top -9px
        .progress
          position absolute
          top 0
          left 0
          height 2px
          background-color YELLOW
          &.hide
            visibility hidden
          
          
      .cloudinary_fileupload
        z-index 1
        opacity 0
        height 100%
        margin 0
        padding 0

        &:hover
          cursor pointer
        
      
    .description
      margin-top -6px
      width 444px
      float right
      text-align left
      
      .tagsinput, input
        border 1px solid #DEDEDE
        
      input
        background #DEDEDE
        margin-bottom 10px
        
        placeholder
          color #A8A6A6
          
      .invalid
        border 1px solid red
          
      .tagsinput
        margin-bottom 10px
        
        input.ac_input
          margin-bottom 5px
          
      
    label
      color #2e2e2e
      text-transform uppercase
      font-size 0.8em
      
    textarea
      height 84px
      border 1px solid #cfc4c4
      margin-bottom 68px
      background-color #fff
      
    .bottom
      width 100%
      position absolute
      bottom 46px
      clear both

    .share-fb
      width 160px
      margin 0 auto
      text-align left
      
      input
        margin 6px 5px 0 0
        width 20px
        float left
      label
        user-select none
        margin-top 6px
        font-size 0.8em
        text-transform none
        color #A8A6A6
        
    .button
      margin-top 9px
      clear both
      
  // Upload complete page
  .page3
    padding 70px 0
    
    .content
      width 784px
      padding 10px 0 36px
      margin 0 auto
      text-align center
      color #7D7D7D
      background-color #fff
    
    .icon
      margin 25px auto 0
      width 58px
      height 58px
      background url('../images/complete.png')
      background-size 58px 58px
    
    h2
      margin-top 3px
      font-size 1.2em
      line-height 1.6em
      
    p
      margin-top 50px
      
    .social
      margin 20px auto 56px
      
      li, a
        display inline-block
        width 64px
        height 64px
        
      li
        margin-left 24px
        &:first-child
          margin-left 0
      
      a
        text-indent -9999px
      
      .twitter
        background-image url('../images/64-twitter.png')
      .googleplus
        background-image url('../images/64-googleplus.png')
      .fb
        background-image url('../images/64-facebook.png')
        
    .white_button
      width 340px
      margin-top 41px
