.upload-page
  padding-top 100px
  color #7d7d7d
  
  h1
    font-size 1.2em
    line-height 1.6em
    margin-bottom 8px
    
  .description
    width 590px
    margin 0 auto
    
  .drag-and-drop
    width 780px
    height 250px
    margin 40px auto 52px
    border 2px dashed #b3b3b3
    cursor pointer 
    
    .icon
      margin-top 8px
      font-size 4em
    
    h2
      font-size 1.4em
      font-weight normal
      margin-bottom 5px
      
    p
      font-size 1.2em
      
  p.record
    color #7d7d7d
    font-size 0.9em
    
  .button
    width 200px
    margin 10px auto
    