extends ./../layout

block content
  .explore(data-menu="explore", data-menu-fixed="false")

    block submenu

    .sub_header(data-view="components/fixed_bar")
      ul.centered
        li.sub_header_sets
          a(href="/explore" title="Sets")
            .icon.ss-music 
            span Listen
        li.sub_header_people
          a(href="/explore/people" title="People")
            span.icon.ss-users
            span People

    .explore_content.flex.centered(data-view="explore")
      .flex_sidebar.genres_list
        a.selected(title="All genres", href="#", data-genre-id="all-genres") All genres
        each g in genres
          a(style='text-transform:capitalize',title="#{g}" href="?genres=#{g}", data-genre-id="#{slugify(g)}") #{g}


      .flex_content.rooms_grid
        block grid