.thumb_wrapper(data-view="components/click_trigger" data-target=".user_dropdown")
	.rounded_top_bar
		if images
			img.top_bar_icon(src="#{images.top_bar}")
	span.icon.ss-dropdown
	//- span.spritesheet.small_arrow_white

	ul.user_dropdown.hover_dropdown
		li
			a.myprofile_link(href="#" title="My Profile") My Profile
		li
			a.feedback_link(href="http://loopcast.uservoice.com", target="_blank" title="Feedback") Feedback
		li
			a.logout(href="#" title="Logout", data-view="components/logout_link") Logout



//- a(href="#", title="Messages")
//- 	span.icon.ss-mail &nbsp;
