.thumb_wrapper(data-view="components/click_trigger" data-target=".user_dropdown")
	img(width="42", src="#{avatar}")
	span.spritesheet.small_arrow_white

	ul.user_dropdown.hover_dropdown
		li
			a(href="/#{username}" title="My Profile") My Profile
		li
			a(href="#" title="Feedback") Feedback
		li
			a.logout(href="#" title="Logout", data-view="components/logout_link") Logout



a(href="#", title="Messages")
	span.spritesheet.messages_icon