header
	.centered
		.left
			a(href="/" class="menu_logo" title="Loopcast Logo")
				span.spritesheet(class="sprite_small_logo") Loopcast Logo
			a(href="/people" title="Explore") Explore
			a(href="/rooms" title="Create Room") Create Room

		.right
			//- a(href="#" title="Sign Up") Sign Up
			a(href="#", title="Log In", data-view="components/modal_handler", data-modal="#login") Log In
