#login(class="modal slide_from_bottom", data-view="modal")
	.md_wrapper
		.md_header
			span.spritesheet(class="md_logo sprite_small_logo")

			.tabs
				a(href="javascript:;" title="Sign Up") Sign Up
				a(href="javascript:;" class="active" title="Sign In") Sign In
		.md_content
			h4 Go live on Loopcast for free

			a.button.facebook(href="javascript:;" title="Facebook Login") Facebook Login
			a.button.soundcloud(href="javascript:;" title="Soundcloud Login") Soundcloud Login

			.clear

			.middle_line
				span or



.md_overlay