.sub_header
  ul.centered
    li.sub_header_rooms
      a(href="/rooms", title="Rooms")
        span.spritesheet.rooms_icon
        span Rooms
    li.sub_header_people
      a(href="/people" title="People")
        span.spritesheet.people_icon
        span People
    li.sub_header_sets
      a(href="/sets" title="Sets")
        span.spritesheet.sets_icon
        span Sets