.room_cell.item.item-all-genres.not_live.is_recorded.player_preview.swiper-slide(data-room-id='577c248678c623030092fa71', data-is-live='', data-audio-url='https://rekorded-beta.s3.amazonaws.com/deep-space-podcast-live_2016-07-05_21-20.mp3', data-uid='43')
  hidden.source_src(value='https://rekorded-beta.s3.amazonaws.com/deep-space-podcast-live_2016-07-05_21-20.mp3')
  a.thumb_wrapper(href='/deep-space-podcast-live/r/deep-space-podcast-live-26', title='Deep Space Podcast Live - 05/07/2016')
    img.room_thumb.for_desktop(src='https://res.cloudinary.com/hfbojwbxj/image/upload/w_210,h_210,c_fill/v1467847063/cover/bsr9xjhvxk9aebuo1ue3.jpg')
    img.room_thumb.for_mobile(src='https://res.cloudinary.com/hfbojwbxj/image/upload/w_370,h_186,c_fill/v1467847063/cover/bsr9xjhvxk9aebuo1ue3.jpg')
    span.icon.ss-play.circle_icon
    .loading_spin
  .share_wrapper(data-title='Deep Space Podcast Live - 05/07/2016', data-summary='Live streaming every Tuesdays 8pm UTC (6pm Sao Paulo / 11pm Johannesburg) directly from Deep Space Podcast studio. Thanks for listening.', data-permalink='/deep-space-podcast-live/r/deep-space-podcast-live-26', data-image='https://res.cloudinary.com/hfbojwbxj/image/upload/v1467847063/cover/bsr9xjhvxk9aebuo1ue3.jpg', data-uid='44')
    a.thumb_wrapper(href='/deep-space-podcast-live/r/deep-space-podcast-live-26', title='Deep Space Podcast Live - 05/07/2016')
    a.yellow.ss-action(href='#', title='Share')
    .share_box
      h4 Share
      .share_row
        input.link_input(type='text', value='')
        a.button.yellow_button.small_button_2(href='#', title='Copy') Copy
      .socials
        a.spritesheet.share_popup_facebook(href='#', title='Share on Facebook', onclick="_gaq.push(['_trackEvent', 'Referral', 'Click', '']);")  
        a.spritesheet.share_popup_twitter(href='#', title='Share on Twitter', onclick="_gaq.push(['_trackEvent', 'Referral', 'Click', '']);")  
        a.spritesheet.share_popup_google(href='#', title='Share on Google Plus', onclick="_gaq.push(['_trackEvent', 'Referral', 'Click', '']);")  
  .room_content
    .text
      h2.room_title
        a(href='/deep-space-podcast-live/r/deep-space-podcast-live-26', title='Deep Space Podcast Live') Deep Space Podcast Live - 05/07/2016
      a.room_subtitle.blue(title='Deep Space Podcast Live', href='/deep-space-podcast-live') Deep Space Podcast Live