block seo


  title Traxvibes - Discover Music For Every Mood

  meta( name="description" content="Tune into over 20 different channels, each focused on a unique style or sub-genre of dance music. Expertly curated by top selectors for you to discover new music." )
  meta( property="og:url" content="#{s.base_path}" )
  meta( property="og:title" content="Discover Music For Every Mood" )
  meta( property="og:description" content="Tune into over 20 different channels, each focused on a unique style or sub-genre of dance music. Expertly curated by top selectors for you to discover new music." )
  meta( name="twitter:title" content="Discover Music For Every Mood")
  meta( name="twitter:description" content="Tune into over 20 different channels, each focused on a unique style or sub-genre of dance music. Expertly curated by top selectors for you to discover new music.")
  meta( name="google-site-verification" content="bKR94RwtrtgY79Pz1-BPqowaimM136gbglIzV3D-xVY" )

extends layout

block content
  .homepage(data-menu="homepage" data-view="homepage")

    //- intro section
    .row.intro.swiper-container
      .swiper-wrapper
        //- first slide
        .swiper-slide.first-slide
          .container
            h1 Discover Music For Every Moment
            p Tune into over 20 different channels, each focused on a unique style or sub-genre of dance music. Expertly curated by top selectors for you to discover new music.

            a.button.new_green(href="/explore", title="Explore All Channels", onClick="mixpanel.track('Start Listening'); Intercom('trackEvent', 'start-listening'); ga(‘send’, ‘event’, ‘Click’, ‘Start Listening’); ") Start Listening

        //- second slide
        .swiper-slide.second-slide
          .container
            h1 Explore New Music Together
            p Join a channel and chat with other listeners about your experience. Purchase the tracks you like on iTunes or save to Apple Music.

            a.button.new_green(href="/explore", title="Explore All Channels", onClick="mixpanel.track('Start Listening'); Intercom('trackEvent', 'start-listening');") Start Listening

      .swiper-pagination

      .carousel

    //- Featured Channels section
    .row.featured
      .container
        h2.title Featured Channels

        .arrows
          a(href="").prevSlide.arrow
            img(src="images/arrow_left.svg", alt="Previous Slide")
          a(href="").nextSlide.arrow
            img(src="images/arrow_right.svg", alt="Next Slide")

        .swiper-container
          .swiper-wrapper
            each room in rooms
              include components/room_card.jade
