block seo
  title Loopcast - Real Time Music 
  meta( name="description" content="Stream, record and share your DJ mixes instantly. Go live, interact with your audience and see your listeners in real time." )
  meta( property="og:url" content="#{s.base_path}" )
  meta( property="og:title" content="Loopcast | Real Time Music" )
  meta( property="og:description" content="Stream, record and share your DJ mixes instantly. Go live, interact with your audience and see your listeners in real time." )
  meta( name="twitter:title" content="Loopcast | Real Time Music")
  meta( name="twitter:description" content="Stream, record and share your DJ mixes instantly. Go live, interact with your audience and see your listeners in real time.")  

extends layout

block content
  .homepage(data-menu="homepage" data-view="homepage")
    
    //- intro section
    .row.intro.swiper-container
      .swiper-wrapper
        //- first slide
        .swiper-slide.first-slide
          .container
            h1 Discover Music For Every Moment
            p Explore human-curated channels by the most forward thinking DJs and selectors. Unique, rare and niche music for every moment.

            a.button.new_green(href="/explore", title="Explore All Channels", onClick="mixpanel.track('Explore');_gaq.push(['_trackEvent', 'Explore', 'Click', '']);") Start Listening

        //- second slide
        .swiper-slide.second-slide
          .container
            h1 Dance Music Discovery Tool
            p Tune into a unique channel for any sub-genres of dance music. Chat with other listeners in the channel and purchase the tracks you love.

            a.button.new_green(href="/explore", title="Explore All Channels", onClick="mixpanel.track('Explore');_gaq.push(['_trackEvent', 'Explore', 'Click', '']);") Start Listening

      .swiper-pagination

      .carousel

    //- Featured Channels section
    .row.featured
      .container
        h2.title Featured Channels
        
        .arrows
          a(href="").prevSlide.arrow
            img(src="images/arrow_left.svg", alt="Previous Slide")
          a(href="").nextSlide.arrow
            img(src="images/arrow_right.svg", alt="Next Slide")

        .swiper-container
          .swiper-wrapper
            include fake_room_card.jade
            include fake_room_card.jade
            include fake_room_card.jade
            include fake_room_card.jade
            include fake_room_card.jade
            include fake_room_card.jade
            include fake_room_card.jade


    