block seo
  title Loopcast - Discover Music For Every Mood
  meta( name="description" content="Discover expert-curated dance music channels. Tune into your favourite dance music genre, explore new music with other users and save your favourites." )
  meta( property="og:url" content="#{s.base_path}" )
  meta( property="og:title" content="Loopcast - Discover Music For Every Mood" )
  meta( property="og:description" content="Discover expert-curated dance music channels. Tune into your favourite dance music genre, explore new music with other users and save your favourites." )
  meta( name="twitter:title" content="Loopcast - Discover Music For Every Mood")
  meta( name="twitter:description" content="Discover expert-curated dance music channels. Tune into your favourite dance music genre, explore new music with other users and save your favourites.")
  meta( name="google-site-verification" content="bKR94RwtrtgY79Pz1-BPqowaimM136gbglIzV3D-xVY" )

extends layout

block content
  .homepage(data-menu="homepage" data-view="homepage")

    //- intro section
    .row.intro.swiper-container
      .swiper-wrapper
        //- first slide
        .swiper-slide.first-slide
          .container
            h1 Discover Music For Every Moment
            p Explore human-curated channels by the most forward thinking DJs and selectors. Unique, rare and niche music for every moment.

            a.button.new_green(href="/explore", title="Explore All Channels", onClick="mixpanel.track('Explore Channels');_gaq.push(['_trackEvent', 'Explore', 'Click', '']);") Start Listening

        //- second slide
        .swiper-slide.second-slide
          .container
            h1 Dance Music Discovery Tool
            p Tune into a unique channel for any sub-genres of dance music. Chat with other listeners in the channel and purchase the tracks you love.

            a.button.new_green(href="/explore", title="Explore All Channels", onClick="mixpanel.track('Explore Channels');_gaq.push(['_trackEvent', 'Explore', 'Click', '']);") Start Listening

      .swiper-pagination

      .carousel

    //- Featured Channels section
    .row.featured
      .container
        h2.title Featured Channels

        .arrows
          a(href="").prevSlide.arrow
            img(src="images/arrow_left.svg", alt="Previous Slide")
          a(href="").nextSlide.arrow
            img(src="images/arrow_right.svg", alt="Next Slide")

        .swiper-container
          .swiper-wrapper
            each room in rooms
              include components/room_card.jade
