block seo
  title About - Loopcast 
  meta( name="description" content="Stream, record and save your DJ mixes instantly. Go live, interact with your audience and see who’s listening in real time." )
  meta( property="og:url" content="#{s.base_path}/about" )
  meta( property="og:title" content="About - Loopcast" )
  meta( property="og:description" content="Stream, record and save your DJ mixes instantly. Go live, interact with your audience and see who’s listening in real time." )  

extends layout














    


