block seo
  title Loopcast | Privacy Policy 
  meta( name="description" content="" )

extends layout

block content
  .centered.about_page.privacy_page
    .white_box
      h1.about_title #{title}

      .about_content !{content}


