!{'<?xml version="1.0" encoding="utf-8">'}
rss(xmlns:itunes='http://www.itunes.com/dtds/podcast-1.0.dtd', version='2.0', xmlns:atom='http://www.w3.org/2005/Atom')
  channel
    title This is our Feed title
    link
    | #{s.base_path}/#{profile}
    description This will be a breif description of your podcast
    language en-us
    copyright IDRSolutions copyright 2014
    |            <
    |             atom:linkhref="http://www.files.idrsolutions.com/podcast.rss"
    |             rel="self"
    |             type="application/rss+xml" 
    |           />
    lastbuilddate Wed, 13 Aug 2014 15:47:00 GMT
    itunes:author IDRSolutions
    itunes:summary Our First itunes feed
    itunes:owner
      itunes:name IDRSolutions
      itunes:email contact2007@idrsolutions.com
    itunes:explicit No
