block seo
  title Upload Your DJ Mix or Podcast for Free - Loopcast 
  meta( name="description" content="Stream, record and share your DJ mixes instantly. Go live, interact with your audience and see who’s listening in real time." )
  meta( property="og:url" content="#{s.base_path}/about" )
  meta( property="og:title" content="Upload Your DJ Mix or Podcast for Free - Loopcast" )
  meta( property="og:description" content="Stream, record and save your DJ mixes instantly. Go live, interact with your audience and see who’s listening in real time." )
  meta( name="twitter:title" content="Upload Your DJ Mix or Podcast for Free - Loopcast")
  meta( name="twitter:description" content="Stream, record and share your DJ mixes instantly. Go live, interact with your audience and see who’s listening in real time.")    

extends layout

block content

  .upload-page(data-view="upload-page")
    include ./components/upload/upload-box.jade
