// Variables


// ----- Colors
BLACK = #1f1f1f
GRAY  = #dedede

// ----- Sizes
MAX_WIDTH = 1140px
FOOTER_HEIGHT = 80px

// --------------------------------------------

// Fonts
open_sans()
	font-family: 'Open Sans', sans-serif
	
// --------------------------------------------

// Structure classes

.centered
	max-width: MAX_WIDTH
	margin: 0 auto




// Imports
@import '_shared/_reset.styl'
@import '_shared/_header.styl'
@import '_shared/_footer.styl'


// Footer always pushed to the bottom
html,body
	height: 100%
	
#content
	min-height: 100%
	height: auto !important;
	height: 100%;
	margin: 0 auto -(FOOTER_HEIGHT);
	
.push, footer
	height: FOOTER_HEIGHT

// General Layout
body
	background: GRAY
	color: black
	open_sans()
		
#content
	padding-top: 42px
	// TEMP
	background-color: #fff
	
	+above( 1200px )
		background: #f00 