#player(data-view="components/audio/player")
  .player_icon
    img(src="/images/player_placeholder.png")

  .player_button(data-view="components/audio/player_preview")
    a.icon.ss-play(href="#",title="Play") 

  .player_text
    h3.player_title Funky boogie night
    h5.player_author By Thomas Amundsen

  .player_progress
    span

  .player_buttons
    a.icon.ss-heart(href="#")

    .share_wrapper(data-view="buttons/share", data-permalink="https://loopcast.com/stefanoortisi/set-1")
      a.player_share.ss-action(href="#", title="Share")

  .player_right
    p.player_time 00:02:06
    p.player_label Now Live