extends ./../layout

block content
  .explore(data-menu="explore", data-menu-fixed="false")

    .explore_content.centered(data-view="explore")
      .loading

      .no_result
        p Sorry, we didn't find any results.
        
