extends ./../layout

block content
  .explore(data-menu="explore", data-menu-fixed="false")

    .explore_content.flex.centered(data-view="explore")
      .loading

      .no_result
        p Sorry, we didn't find any results.
        
      block no_content
      
      .for_mobile.filter_list(data-view="explore/mobile_filter")
        p 
          | Filter
          span.icon.ss-dropdown
          span.icon.ss-directup


      .flex_content.rooms_grid
        .loading
        .inner
          input(type="hidden", name="current_genre", value="#{current_genre}")
          h2 Discover your favourite genres, join a channel and chat with our community
          block grid