doctype html
html
  head
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    link( rel="icon", href="/favicon.ico" )

    title loopcast.fm | confirm username

  
    link( href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700,600', rel='stylesheet', type='text/css' )
    link( href='../css/spritesheet.css', rel='stylesheet', type='text/css' )
    link( href='../css/webfonts/ss-standard.css', rel='stylesheet', type='text/css' )
    link( href='../css/app.css', rel='stylesheet', type='text/css' )


  body

    #confirm-username
      img( src=user.avatar title=user.name class="avatar")
      p.thanks 
       |#[span.bold Thanks #{user.name}!]
       |#[br]Just the final touch now...

      .input-group.clearfix
        span.input.group-addon.left
          | http://loopcast.fm/
        input(type="text" class="right" value=user.username)

      button.button.yellow_button.no_shadow.black_hover
        | Complete



    script( src="https://code.jquery.com/jquery-2.1.1.min.js" )
    script( src="/js/app.js" )