script
  | if( window.opener._gaq )
  | window.opener._gaq.push(['_trackEvent', 'Customer Login', 'Successful', '']);
  |
  //- save template variable into source code
  //- so we can change it later from the confirm_username page
  | window.user = !{ JSON.stringify( user ) };
  |

  //- called once the login is succesful and the user doesn't need
  //- to update the username
  | window.complete_login = function() {
  |   window.opener.app.login( window.user );
  |   window.close();
  | }


if user.first_time
  script
    | window.opener._gaq.push(['_trackEvent', 'Customer Registration', 'Successful', '']);
    | window.opener.mixpanel.track('Customer Registration')
    //- don't close the window!!!
    //- | window.close()

  include confirm_username.jade

else
  script
    | window.complete_login()
