script
  | window.opener.app.login( !{JSON.stringify(user)} );
  | window.opener._gaq.push(['_trackEvent', 'Customer Login', 'Successful', '']);
  if user.first_time
    | window.opener._gaq.push(['_trackEvent', 'Customer Registration', 'Successful', '']);
  | window.close()