#publish_modal(class="little_modal modal slide_from_bottom circle_loading_wrapper", data-view="modals/publish_modal", data-modal-close="false")
  .md_wrapper
    .loading
      .loading_spin.center_el.medium
    .md_content
      h5 
        | Do you want to publish this session to your profile?
        br
        | Easily share your sessions with friends and followers

      p NB. You can edit your session later on your profile page

      a.button.signin.gray_button_2.no_shadow.submit_button.dismiss_label(title="Save for later") Save for later
      a.button.signin.yellow_button.no_shadow.submit_button.publish_label(title="Publish") Publish