extends layout

block content

	.landing(data-view="components/fullscreen")
		.cover(style="background-image:url('/images/homepage.jpg')")

		.black_box
			.background
			.content
				span.spritesheet.medium_white_logo
				h1 
					| Stream Live.
					br
					| Anywhere.
					br
					| Anytime.

				p.yellow Loopcast is the latest frontier in live music streaming. Play, record and save any live moment you have in virtual rooms.

				.buttons
					a.button.yellow_button.small_button.no_shadow.left(href="javascript:;" title="Create live room") Create live room
					a.button.white_transparent_button.no_shadow.right(href="javascript:;" title="Explore live music") Explore live music


		.scroll_down
			p Scroll down to learn more
			span.spritesheet.sprite_arrow_down_white

	div.landing_2(data-view="components/fullscreen")
		.cover(style="background-image:url('/images/homepage_2.jpg')")
			.black_box.opaque
				.background
				.content
					h1 Stream your Music to the World
					p Create your own virtual rooms, connect with any third party software or hardware and stream your music live for friends, fans and followers everywhere. Record and save your live sessions to your profile, allowing your audience to go back and re-experience their favourite moments.

