extends layout

block content

	.homepage(data-view="components/fullscreen")
		.cover(style="background-image:url('/images/homepage.jpg')")

		.black_box
			.background
			.content
				span.spritesheet.medium_white_logo
				h1 
					| Stream Live.
					br
					| Anywhere.
					br
					| Anytime.

				p.yellow Loopcast is the latest frontier in live music streaming. Play, record and save any live moment you have in virtual rooms.

				.buttons
					a.button.yellow_button.small_button.no_shadow.left(href="javascript:;" title="Create live room") Create live room
					a.button.white_transparent_button.no_shadow.right(href="javascript:;" title="Explore live music") Explore live music


		.scroll_down
			p Scroll down to learn more
			span.spritesheet.sprite_arrow_down_white
