doctype html
html

	head
		meta( charset='utf-8' )
		meta( http-equiv='X-UA-Compatible', content='IE=edge' )
		meta( name='viewport', content='width=device-width, initial-scale=1.0' )
		meta( property="og:image" content="#{s.base_path}/images/thumbnail.png")
		link( rel="icon", href="/favicon.ico" )

		block seo
			title loopcast.fm
			meta( name="description" content="Loopcast Description" ) 

		block head
			link( href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700,600', rel='stylesheet', type='text/css' )
			link( href='/css/spritesheet.css', rel='stylesheet', type='text/css' )
			link( href='/css/webfonts/ss-standard.css', rel='stylesheet', type='text/css' )
			link( href='/css/app.css', rel='stylesheet', type='text/css' )

			style.
				#loading {display:block;position:absolute;top:0;left:0;background:#ececec;width:100%;height:100%;}
				header{opacity:0;}


	body.loading.not_logged
		block body

			include ./shared/header.jade

			#content
				.inner_content
					block content

			#loading(data-view="loading")
				.inner
					.loading_spin.large

				
			include ./components/audio/player

		script( src="https://code.jquery.com/jquery-2.1.1.min.js" )
		script( src="/js/app.js" )
		script( src="//js.pusher.com/2.2/pusher.min.js" )
		script
			| var options   = { authEndpoint: '/api/v1/chat/auth' };
			| options  = {} // while we don't implement presence channels
			| window.pusher = new Pusher( '#{pusher.key}', options );
		//- script
		//- 	| var loopcast = {};
		//- 	if user
		//- 		| loopcast.user = !{JSON.stringify(user)};