extends layout

block content
	#login.popup(data-menu="login")
		.md_wrapper(data-view="login")
			.md_header
				.md_login
					h1 
						span.spritesheet(class="md_logo sprite_small_logo")
						| Join Loopcast in seconds

				.triangle
				
			.md_content.md_login

				p
					span.icon.ss-music
					| Go live in your browser for free

				p
					span.icon.ss-users
					| Interact with your audience

				p
					span.icon.ss-record
					| Record, save and share instantly
				
				.buttons
					a.button.social.facebook.shadow(href="/login/facebook" title="Sign in with Facebook") 
						span.spritesheet.facebook_button_icon
						span Sign in with Facebook
					a.button.social.google.shadow(href="/login/google" title="Sign in with Google") 
						span.spritesheet.google_button_icon
						span Sign in with Google

					.clear

				//- .middle_line
				//- 	span or

				//- form
				//- 	p.label_error Username or password not valid. Please retry
				//- 	input.password(name="username", type="text", placeholder="Enter your email or username")
				//- 	input.username(name="password" type="password", placeholder="Password")

				//- 	a.button.signin.no_shadow(title="Sign In") Sign In