extends layout

block body
	#login.popup
		.md_wrapper(data-view="login")
			.md_header
				span.spritesheet(class="md_logo sprite_small_logo")

				.tabs
					//- a(title="Sign Up") Sign Up
					a(href="#", class="active" title="Sign In") Sign In
			.md_content
				h4 Go live on Loopcast for free

		
				a.button.social.facebook(href="/login/facebook" title="Sign in with Facebook") 
					span.spritesheet.facebook_button_icon
					span Sign in with Facebook
				a.button.social.google(href="/login/google" title="Sign in with Google") 
					span.spritesheet.google_button_icon
					span Sign in with Google

				.clear

				//- .middle_line
				//- 	span or

				//- form
				//- 	p.label_error Username or password not valid. Please retry
				//- 	input.password(name="username", type="text", placeholder="Enter your email or username")
				//- 	input.username(name="password" type="password", placeholder="Password")

				//- 	a.button.signin.no_shadow(title="Sign In") Sign In