h1
  | Sorry but your version of Internet Explorer is too old
  | We recommend grabbing the latest version of a <a href="https://www.google.com/chrome/" target="_blank">modern browser</a>
  | <br />
  | If for some reason you can't update your browser, please <a href="" onclick="track.cant_update_oldie()">click here</a> and we will consider supporting it.