extends layout

block content
  h1(data-view="explore") People

  br
  br
    
  h4 genres

  ul
    for genre in genres
      li #{genre}

  br
  br
    
  h4 people

  ul
    for person in people
      li 
       a( href="#{person.id}") #{person.author}
       
       .kind  : #{person.kind}