block seo
	title Loopcast | Privacy 
	meta( name="description" content="Stream, record and save your DJ mixes instantly. Create your own room, interact with your audience and see who’s listening in real time." )

extends layout

block content
  h1 Privacy page