extends layout

block content
	.explore(data-menu="explore")
		.sub_header
			ul.centered
				li.selected
					p 
						span.spritesheet.rooms_icon
						span Rooms
				li
					a(href="#" title="People")
						span.spritesheet.people_icon
						span People
				li
					a(href="#" title="Sets")
						span.spritesheet.sets_icon
						span Sets



		h1(data-view="room") Rooms

		br
		br
			
		h4 genres

		ul
			for genre in genres
				li #{genre}

		br
		br
			
		h4 rooms

		ul
			for room in rooms
				li 
					pre
						| title : #{room.title}
						| author: #{room.author}
						| ---