extends layout

block content
  h1(data-view="room") Rooms

  br
  br
    
  h4 genres

  ul
    for genre in genres
      li #{genre}

  br
  br
    
  h4 rooms

  ul
    for room in rooms
      li 
        pre
          | title : #{room.title}
          | author: #{room.author}
          | ---