block seo
  title Loopcast | Terms and conditions
  meta( name="description" content="" )

extends layout

block content
  .centered.about_page.terms_page
    .white_box
      h1.about_title #{title}

      .about_content !{content}


