.share_box
  h4 Share
  .share_row
    input.link_input(type="text",  value="")
    a.button.yellow_button.small_button_2(href="#", title="Copy") Copy

  .socials
    a.spritesheet.share_popup_facebook(href="#", title="Share on Facebook") Share on Facebook
    a.spritesheet.share_popup_twitter(href="#", title="Share on Twitter") Share on Twitter
    a.spritesheet.share_popup_google(href="#", title="Share on Google Plus") Share on Google Plus