#confirm_exit_modal(class="little_modal modal slide_from_bottom circle_loading_wrapper", data-view="modals/exit_modal", data-modal-close="false")
  .md_wrapper
    .loading
      .loading_spin.center_el.medium
    .md_content
      h5 Are you sure you want to exit the room? Your stream will stay live until you click 'Go Offline'.
      p N.B. If you exit the room you can re-enter it from your profile later. 

      a.button.signin.gray_button_2.no_shadow.submit_button.ok_label(title="Exit") Cancel
      a.button.signin.yellow_button.no_shadow.submit_button.dismiss_label(title="Stay") Ok