#room_modal.room_modal(class="modal slide_from_bottom circle_loading_wrapper", data-view="modals/room_modal", data-modal-close="false")
  .md_wrapper
    .loading
      .loading_spin.center_el.medium
    .md_content
      h4.create_label Create Room
      h4.edit_label Edit your session 
      
    
      label(for="username") Title*
      input.roomname(name="name", type="text", placeholder="Enter the name of your session")
      label(for="genre") Tags
      .tags_wrapper.genre(data-view="components/editables/editable_tags")
        textarea( id="genre_input", rows="1", style="width:310px")
      label.location_label(for="location") Location
      input.location(name="location", type="text", placeholder="Where are you?")
      textarea.description.white_textarea(name="description", placeholder="Describe your session")

      .room_image.upload_wrapper(data-view="components/image_uploader", data-id="profile_cover")

        .upload_element.button.signin.gray_button.no_shadow(title="Upload Cover") 
          span.progress
          span.text.create_label Upload Cover
          span.text.edit_label Change Cover

          form.cloudinary_form
            input.api_key(type="hidden", name="api_key", value="#{cloudinary.api_key}")
            input.cloud_name(type="hidden", name="cloud_name", value="#{cloudinary.cloud_name}")
            input.unsigned_id(type="hidden", name="unsigned_id", value="#{cloudinary.unsigned_ids.cover}")

      
      input.button.yellow_button.no_shadow.submit_button.create_label(type="submit", title="Open Room", value="CREATE", onClick="_gaq.push(['_trackEvent', 'Open Room', 'Click', '']);")
      input.button.signin.yellow_button.no_shadow.submit_button.edit_label(type="submit", title="Save", value="Save")

      p.message