.profile_content.chat
  .chat_main
    .chat_header.v_center
      p
        if room && room.info.about
          | #{room.info.about}

    .chat_content.no_chat_yet(data-view="chat/messages")
      span(class='no-message') No one has typed a chat yet


      //- .message
      //-   a.img_wrapper_2(href="#", title="Name")
      //-     img(src="/images/profile-36.jpg")
      //-   .text
      //-     h4.name 
      //-       | Thomas Amundsen
      //-       span.time - 1 min ago

      //-     p.content Thanks for the feedback. How are you?

      //-   span.spritesheet.headphone

      //- .message
      //-   a.img_wrapper_2(href="#", title="Name")
      //-     img(src="/images/profile-36.jpg")
      //-   .text
      //-     h4.name 
      //-       | Thomas Amundsen
      //-       span.time - 1 min ago

      //-     p.content Thanks for the feedback. How are you?

      //- .message
      //-   a.img_wrapper_2(href="#", title="Name")
      //-     img(src="/images/profile-36.jpg")
      //-   .text
      //-     h4.name 
      //-       | Thomas Amundsen
      //-       span.time - 1 min ago

      //-     p.content Thanks for the feedback. How are you?



    .chat_footer
      .img_wrapper_2
        img.author_chat_thumb(src="/images/profile-36.jpg")
      textarea(placeholder="Type here to join the chat", data-view="chat/textarea")
      span.icon.ss-heart

  .chat_sidebar
    .inner
      h3 
        | People in this room 
        span.number (0)

      .users
        each i in [0,1,2,3,4,5,6,7]
          .img_wrapper
            a(href="#", title="User name")
              img(src="/images/profile_big.png", width="55")

    .share
      h3 Share this room
      .social
        a.spritesheet.share_twitter(href="#", title="Share on Twitter") Share on Twitter
        a.spritesheet.share_fb(href="#", title="Share on Facebook") Share on Facebook
        a.spritesheet.share_friends(href="#", title="Share qwith friends") Share with friends
        a.spritesheet.share_share(href="#", title="Share") Share

