#confirm_exit_modal(class="little_modal modal slide_from_bottom circle_loading_wrapper", data-view="room/exit_modal", data-modal-close="false")
  .md_wrapper
    .loading
      .loading_spin.center_el.medium
    .md_content
      h5 If you leave the room your stream will still be live until you click "Stop broadcast".
      p Would you like to exit the room anyway?

      a.button.signin.gray_button_2.no_shadow.submit_button.dismiss_label(title="Exit") Exit
      a.button.signin.yellow_button.no_shadow.submit_button.ok_label(title="Stay") Stay

.md_overlay