.dashboard_bar(data-view="room/dashboard")
  .inner
    .row
      .cell
        #appcast_not_running_balloon.balloon.appcast_not_running_balloon(data-view="components/help/balloon", data-target=".appcast_not_running_message")
          h2 Get started in less than 15s 
          p Download and run appcast before you can select your input device. (No installation is required)
          ul
            li 
              | 1. 
              a(href="/download/Appcast.zip", title="Download Appcast", onClick="_gaq.push(['_trackEvent', 'Download Appcast', 'Download', '']);") Download Appcast
            li 2. Open Appcast to run it
            li 3. Choose your input device below

          a.learn(href="https://loopcast.desk.com/customer/portal/articles/1507138-what-is-appcast-" target="_blank") Learn more


        p.appcast_not_running_message.no_hover.button.dashboard_button.with_icon.handler Select your input device 
        .appcast_running_message.select_wrapper.input_select(data-view="dashboard/input_devices")
          a.button.dashboard_button.with_icon.handler(href="#") 
            span.text Select your input device 
            span.icon.ss-dropdown
          select
            option Select your input source
      .cell
        #go_live_balloon.balloon(data-view="components/help/balloon", data-target="#go_live_button")
          p Click go live to start your live stream and share it with friends, fans and followers everywhere.
        
        .live_button_wrapper
          p#go_live_button.button.dashboard_button.with_timer(data-view="dashboard/go_live")
            a.gray_part.left_part(href="#") Go live
            span.yellow_part.right_part 00:00:00

          a#dashboard_help(href="https://loopcast.desk.com/customer/portal/articles/1460891-how-to-connect-your-audio-device-" target="_blank", title="Help") ?
          #share_dashboard.share_wrapper( data-view="buttons/share" )
            a.white.ss-action(href="#", title="Share")

          //- #help_balloon.balloon.appcast_not_running_balloon(data-view="components/help/balloon", data-target="#dashboard_help", data-orientation="right", data-offset="27")
          //-   a.button.small_button_2.dashboard_yellow.dashboard_button(href="#") UPGRADE
          //-   a.button.small_button_2.dashboard_button(href="#") HELP

    .row
      .cell
        .meter_wrapper(data-view="dashboard/meter")    
      .cell
        #record_balloon.balloon(data-view="components/help/balloon", data-target="#record_button")
          p Click to record your set and publish instantly to your profile. If you only decide to record, others will not be able to enter you room.

        p#record_button.button.dashboard_button.with_timer(data-view="dashboard/record")
          a.gray_part.left_part(href="#") Record
          span.yellow_part.right_part 00:00:00
