.dashboard_bar(data-view="room/dashboard")
  .centered
    .half._left
          
      #appcast_not_running_balloon.balloon.appcast_not_running_balloon(data-view="components/help/balloon", data-target=".appcast_not_running_message")
        p Download and run appcast before you can select your input source. (No installation required)
        ul
          li 
            | 1. 
            a(href="/download/Appcast.zip", title="Download Appcast") Download Appcast
          li 2. Open Appcast and run it
          li 3. Choose your input device below

        a.learn(href="#") Learn more


      p.appcast_not_running_message.no_hover.button.dashboard_button.with_icon.handler Download and run Appcast 
      .appcast_running_message.select_wrapper.input_select(data-view="dashboard/input_devices")
        a.button.dashboard_button.with_icon.handler(href="#") 
          span.text Select your input source
          span.icon.ss-dropdown
        select
          option Select your input source
    
      .meter_wrapper(data-view="dashboard/meter")

    //- input.source_volume(type="range", name="volume", min="0", max="10")

    .half._right
      #go_live_balloon.balloon(data-view="components/help/balloon", data-target="#go_live_button")
        p Click go live to start your live stream and share it with friends, fans and followers everywhere.
        
      p#go_live_button.button.dashboard_button.with_timer(data-view="dashboard/go_live")
        a.gray_part.left_part(href="#") Go live
        span.yellow_part.right_part 00:00:00

      #record_balloon.balloon(data-view="components/help/balloon", data-target="#record_button")
        p Click to record your set and publish instantly to your profile. If you only decide to record, others will not be able to enter you room.

      p#record_button.button.dashboard_button.with_timer(data-view="dashboard/record")
        a.gray_part.left_part(href="#") Record
        span.yellow_part.right_part 00:00:00
    .clear

  //- .broadcast_controls(data-view="buttons/start_stop", data-width="fixed")
  //-   a.button.green_button.small_button_3.start(title="Start Broadcast") Start Broadcast
  //-   a.button.green_button.small_button_3.stop(title="Stop Broadcast") Stop Broadcast

  //- p.broadcast_time 00:00:00

  //- .recording_controls(data-view="buttons/start_stop", data-width="fixed")
  //-   a.button.red_button.small_button_3.start(title="Start Recording") Start Recording
  //-   a.button.red_button.small_button_3.stop(title="Stop Recording") Stop Recording
