#publish_modal(class="modal slide_from_bottom circle_loading_wrapper", data-view="room/publish_modal", data-modal-close="false")
  .md_wrapper
    .loading
      .loading_spin.center_el.medium
    .md_content
      h5 
        | Do you want to publish this set to your profile?
        br
        | Easily share your sets with friends and followers

      
      a.button.signin.yellow_button.no_shadow.submit_button.create_label(title="Open Room") Open Room
      a.button.signin.yellow_button.no_shadow.submit_button.edit_label(title="Save") Save

.md_overlay