#player(data-view="components/audio/player", style="display: none")

  .centered

    a.close_fullscreen(href="#", title="Fullscreen player").for_mobile
      span.icon.ss-navigatedown

    a.player_icon(href="#", title="")
      img(src="/images/player_placeholder.png")


    .follow_player_popup(data-view="components/follow_player")
      a.close_follow_player(href="#", title="Close") X
      .inner

    .player_button.no_fullscreen
      a(href="#",title="Play")
        i.fa.fa-play-circle
        i.fa.fa-pause-circle(style="display:none")
        i.fa.fa-refresh.fa-spin.fa-3x.fa-fw.margin-bottom(style="display:none")
      .loading_spin.medium

    .player_text.no_fullscreen
      a.player_title(href="#", title="Title") Funky boogie night
      a.player_author(href="#", title="Author") By Thomas Amundsen

    p.player_time.for_desktop 00:00

    .player_progress.no_fullscreen
      p.player_time.fullscreen_elements 00:00
      p.player_total_time.fullscreen_elements 00:00
      span
      p.hitarea


    p.player_total_time.for_desktop 00:00

    p.player_track_name
      span.track_artist
      span.track_separator
      span.track_title

    .player_buttons
      a.track_itunes(href="#", title="Buy on iTunes", target="_blank")
        img.itunesicon_desktop(border='0', alt='iTunes', src='images/get_on_iTunes.png', width='60', height='24')
      a.icon.ss-heart(href="#")

      .share_wrapper( data-view="buttons/share" )
        a.player_share.ss-action(href="#", title="Share")


    a.open_fullscreen(href="#", title="Fullscreen player").for_mobile.no_fullscreen
      span.icon.ss-navigateup

    .fullscreen_elements
      .player_text
        //- a.player_title(href="#", title="Title")
        a.track_itunes.itunes(href="#", title="Buy on iTunes", target="_black")
        p.player_track_name.track_title
        a.player_author.track_artist(href="#", title="Author")

      .progress_wrapper
        p.player_time 00:00
        .player_progress
          span
          p.hitarea
        p.player_total_time 00:00

      .player_button
        a.icon.ss-play(href="#",title="Play")
        a.icon.ss-pause(href="#",title="Pause",style="display:none")
        .loading_spin.medium

  audio(autoplay="true", data-view="components/audio/audio")
