// --------------------------------------------
// Imports

@import '_shared/_bootstrap.styl'
@import '_shared/_header_footer.styl'
@import '_shared/_modal.styl'
@import '_shared/_ui.styl'

// --------------------------------------------
// Reset


// Inheriting box-sizing Probably Slightly Better Best-Practice
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html
	box-sizing: border-box;

*, *:before, *:after
	box-sizing: inherit;


*
	margin  0
	padding 0
	border  0
	
a
	color: inherit
	text-decoration: none
	
.spritesheet
	display: inline-block
	text-indent: -9999px
	
li
	list-style: none
	

	
// --------------------------------------------
// Structure classes

.centered
	max-width: MAX_WIDTH
	margin: 0 auto

.clear
	clear: both
	
.hidden
	visibility: hidden
	opacity: 0
	
.visible
	visibility: visible
	opacity: 1
	
.cover
	background-size: cover
	background-position: 50% 50%
	width: 100%
	height: 100%
	absolute top 0 left 0
	z-index: 0
	
.left
	float: left
.right
	float: right

// --------------------------------------------
// Footer always pushed to the bottom
html
	position: relative
	min-height: 100%

body
	margin: 0 0 FOOTER_HEIGHT
	
footer
	absolute bottom 0 left 0
	width: 100%
	height: FOOTER_HEIGHT

// --------------------------------------------
// General Layout
body
	background: GRAY
	color: black
	font-size: 100%;
	open_sans()
	
	// Pull the content down because of the header fixed
	padding-top: HEADER_HEIGHT
		
#content
	text-align: center
	position: relative
	z-index: 1
	
	
#loading
	background: white
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 2
	
	
