// --------------------------------------------
// Imports

@import '_shared/_bootstrap.styl'
@import '_shared/_header_footer.styl'
@import '_shared/_modal.styl'
@import '_shared/_ui.styl'

// --------------------------------------------
// Reset


// Inheriting box-sizing Probably Slightly Better Best-Practice
// http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html
	box-sizing: border-box;

*, *:before, *:after
	box-sizing: inherit;


*
	margin  0
	padding 0
	border  0
	
a
	color: inherit
	text-decoration: none
	
.spritesheet
	display: inline-block
	text-indent: -9999px
	
li
	list-style: none
	

	
// --------------------------------------------
// Structure classes

.centered
	max-width: MAX_WIDTH
	margin: 0 auto

.clear
	clear: both
	
.hidden
	visibility: hidden
	opacity: 0
	
.visible
	visibility: visible
	opacity: 1
	

// --------------------------------------------
// Footer always pushed to the bottom
html,body
	height: 100%
	
#content
	min-height: 100%
	height: auto !important;
	height: 100%;
	margin: 0 auto -(FOOTER_HEIGHT);
	
.push, footer
	height: FOOTER_HEIGHT

// --------------------------------------------
// General Layout
body
	background: GRAY
	color: black
	font-size: 100%;
	open_sans()
		
#content
	padding-top: 42px
	background-color: #fff 
	text-align: center
	position: relative
	z-index: 0
	
#loading
	background: white
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	z-index: 2
	
	
