// --------------------------------------------
// Colors
BLACK  	= #1f1f1f
GRAY   	= #ececec
GRAY_2 	= #605B5B
GRAY_3 	= #474343
YELLOW  = #FFC80A
BLUE 	= #4592D4

// Sizes
MAX_WIDTH = 1220px
FOOTER_HEIGHT = 80px
HEADER_HEIGHT = 42px

// --------------------------------------------
// Fonts
open_sans()
	font-family: 'Open Sans', sans-serif
	-webkit-font-smoothing: antialiased
	
open_bold()
	font-weight: 600
	

.yellow
	color: YELLOW
	

