// --------------------------------------------
// Colors
BLACK   = #1f1f1f
HEADER  = #24292d
GRAY    = #ececec
GRAY_1  = #B5B5B5
GRAY_2  = #605B5B
GRAY_3  = #474343
GRAY_4  = #929292
YELLOW  = #fdbb30
BLUE  = #4592D4
RED   = #F23131
OUTLINE_COLOR = #DADADA
GREEN   = #329F0C
TAG_COLOR = #acbec6
TAG_BG    = #dedede

PLAY_BUTTON_COLOR = 200
PLAY_BUTTON_W = 60px
BLACK_BOX_COLOR = #292C2F
SHARE_BOX = #373b3f


// 398FBD

// Sizes
MAX_WIDTH = 1140px
FOOTER_HEIGHT = 80px
HEADER_HEIGHT = 49px
SIDE_PADDING = 20px

// --------------------------------------------
// Fonts
open_sans()
  font-family: 'Open Sans', sans-serif
  -webkit-font-smoothing: antialiased
  
open_bold()
  font-weight: 600
  

.yellow
  color: YELLOW
  

// Gradients
background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
  background-color startColor
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)