// --------------------------------------------
// Colors
BLACK  	= #1f1f1f
GRAY   	= #dedede
GRAY_2 	= #615b5b

// Sizes
MAX_WIDTH = 1140px
FOOTER_HEIGHT = 80px

// --------------------------------------------
// Fonts
open_sans()
	font-family: 'Open Sans', sans-serif
	
open_bold()
	font-weight: 600
	

