header
	background: BLACK
	position: fixed
	width: 100%
	top: 0
	left: 0
	color: white
	height: 42px
	z-index: 3
	a
		display: inline-block
		padding: 9px 25px
	.left
		float: left
		a
			border-right: 1px solid #333
		
	.right
		float: right
		

footer
	background: BLACK
	text-align: center
	color: white
	z-index: 0
	position: relative