header.header
	transition: opacity .3s linear	
	position: fixed
	width: 100%
	top: 0
	left: 0
	color: white
	height: 42px
	z-index: 3
	opacity: 1
	.background
		absolute top 0 left 0
		width: 100%
		height: 100%
		z-index: 1
		background: BLACK
		
	.centered
		position: relative
		z-index: 1
	.centered.second
		z-index: 0
		
	.left, .right
		& > *
		
			display: inline-block
			padding: 9px 22px
			vertical-align: top
			height: HEADER_HEIGHT
			
			&.settings
				padding-top: 10px
				padding-bottom: 0
				cursor: pointer
				height: HEADER_HEIGHT
				position: relative
				span
					transition: transform .1s linear
					
				&.hovered
					span
						transform: rotate(360deg)
						
	.menu_item
		position: relative
		&:after
			content: ""
			position: absolute
			bottom: 0
			left: 0
			width: 100%
			height: 0px
			background: BLUE
			transition: height .1s ease-out
		&.selected:after
			height: 3px
		&.selected.homepage_item:after
			height: 0
			
	.left
		float: left
		& > *
			border-right: 1px solid #333
			padding: 9px 25px
			
			&.no_border
				border-right: none
		
	.right
		float: right
		position: relative
		
	.settings_dropdown
		width: 140px
		
	
	.search_box
		.spritesheet
			position: relative
			top: 3px
			margin-right: 10px
		form
			display: inline-block
			
	.user_logged
		display: none
		padding: 0
		& > *
			display: inline-block
			vertical-align: middle
		.thumb_wrapper
			padding-right: 30px
			margin-right: 10px
			position: relative
			height: HEADER_HEIGHT
			.spritesheet
				position: absolute
				top: 43%
				right: 10px
			&.hovered
				.spritesheet
					transform: rotate(180deg)
				
	.user_dropdown
		right: 0px
		
	.messages_icon
		display: block
		
.logged
	header
		.user_logged
			display: inline-block
		.login_link
			display: none
		

footer
	background: BLACK
	text-align: center
	color: white
	z-index: 0
	position: relative