.for_mobile
  display: none
.homepage_mobile_screen
  padding: 60px 40px 80px
  width: 100%
  position: relative
  background-size: cover
  background-position: center center


@media (max-width: 700px)
  body
    .for_mobile
      display: block
      
    .for_desktop
      display: none
      
    .parallax-mirror
      display: none

    .mobile_header
      width: 100%
      position: fixed
      height: 50px
      background: BLACK
      width: 100%
      top: 0
      left: 0
      border-bottom: 2px solid YELLOW
      
    .black_box
      position: relative
      margin: 0px auto
      width: 100%
      min-width: inherit
      max-width: 300px
      h1
        line-height: 23px
        font-size: 1.5rem
        margin-bottom: 20px
      p
        font-size: 1rem
        line-height: 25px
        
        
      
    .buttons .right
      float: none
      
    .secondary_screen .black_box
      right: auto
      top: auto
      h1
        line-height: 23px
        
      p
        padding: 0
        font-weight: inherit
        line-height: inherit
        
      
    