body
  min-width: 320px
  
.for_mobile
  display: none
  
.homepage_mobile_screen
  padding: 60px 40px 80px
  width: 100%
  position: relative
  background-size: cover
  background-position: center center

.mobile_header
  height: 55px
  background: BLACK
  width: 100%
  top: 0
  left: 0
  border-bottom: 2px solid YELLOW
  color: #818181
  position: fixed
  z-index: 2
  align-items: center
  justify-content: center
  a
    flex: 1
    text-align: center
    span
      position: relative
      top: 2px
    &.selected
      color: YELLOW
      
.dynamic_wrapper
  position: relative
  

@media (max-width: 700px)
  
  body
    padding-top: 0!important
    
    &.login_page
      .for_mobile
        display: none
    .dynamic_wrapper
      padding-top: 55px
      background: #ececec
      transition: transform .3s ease-out
      transform: translate3d(0, 0, 0)
      &.moving
        position: absolute
        top: 0
        left: 0
        width: 100%
        
        transform: translate3d(-100%, 0, 0)
      &.moved
        transform: translate3d(0, 0, 0)

    #loading
      position: fixed
      z-index: 1
      opacity: .5

    .for_mobile
      display: block
      
    .for_desktop
      display: none
      

      
    .parallax-mirror
      display: none
      
    .mobile_header
      display: flex

   
      
    .black_box
      position: relative
      margin: 0px auto
      width: 100%
      min-width: inherit
      max-width: 300px
      h1
        line-height: 23px
        font-size: 1.5rem
        margin-bottom: 20px
      p
        font-size: 1rem
        line-height: 25px
        
      .button
        width: 100%!important
        
        
      
    .buttons .right
      float: none
      
    .secondary_screen .black_box
      right: auto
      top: auto
      h1
        line-height: 23px
        
      p
        padding: 0
        font-weight: inherit
        line-height: inherit
        
    .explore
      padding-top: 0
      
      .explore_content
        display: block
        padding: 56px 0 0
      
      
    .explore 
      .genres_list
        display: block
        position: fixed
        top: 111px
        left: 0
        z-index: 1
        width: 100%
        transition: transform .3s ease-out
        transform: translate3d(0,-100%,0)
        &.mobile_opened
          transform: translate3d(0,0%,0)
        a
          margin-bottom: 0
          border-radius: 0
          color: #484739
          background: #eaeaea
          padding: 10px 18px
          font-size: 15px
          border-bottom: 1px solid darken( #d3d3d3, 10 )
          &.selected
            background: #d3d3d3
            color: #484739
      
      .rooms_grid
        display: block
        padding: 10px
        
        .room_cell
          width: 100%
          position: relative!important
          top: 0!important
          left: 0!important
          margin-bottom: 10px
          
          & > .thumb_wrapper
            width: 100%
            height: auto
            img.for_desktop
              display: none
            img.for_mobile
              display: block
      
    .filter_list
      background: #eaeaea
      border-bottom: 1px solid darken( #d3d3d3, 10 )
      text-align: center
      z-index: 2
      position: fixed
      top: 55px
      left: 0
      width: 100%
      text-transform: uppercase
      padding: 18px 10px
      font-size: 14px
      cursor: pointer
      span
        font-size: 8px
        border: 1px solid BLACK
        display: inline-block
        border-radius: 3px
        padding: 3px 4px 0px
        margin-left: 10px
        position: relative
        top: 0px
      .ss-directup
        display: none
      &.mobile_opened
        .ss-dropdown
          display: none
        .ss-directup
          display: inline-block
    #player
      .player_title
        font-size: 0.8em
      .player_button
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        left: 0
        top: 0
        height: 100%
        .icon
          position: relative
          top: 5px
          
      .player_text
        margin-left: 10px
        margin-right: 10px
        
      .player_progress
        display: none
      .player_buttons
        margin-left: 10px
      .player_buttons > *
        margin: 0 10px  
      .player_buttons  
      .player_right
        flex: 1
        text-align: center
        
      .player_right
        margin: 0
      .player_time
        text-align: center
      
  body.no_touch_device
    .explore .genres_list a:hover
      background: #d3d3d3
      color: #484739
        
      
    