MARGIN_MODAL = 20px



.circle_loading_wrapper
	position: relative
	backface-visibility: hidden
	.loading
		absolute top 50% left 50%
		transform-origin: 50% 50%
		transform: translateX(-50%) translateY(-50%) scale(0.001)
		transition: transform .4s ease-out
		width: 50em
		height: 50em
		z-index: 1
		border-radius: 50%
		background: rgba(255,255,255,0.9)
		
	&.loading
		.loading
			transform: translateX(-50%) translateY(-50%) scale(1)



.modal
	position: fixed
	backface-visibility: hidden
	top: 50%
	left: 50%
	width: 500px
	height: auto
	z-index: 2000
	visibility: hidden
	transform: translateX(-50%) translateY(-50%)
	overflow: hidden
	text-align: center 
	
	
	&.md_visible
		visibility: visible
		
.md_show
	
	box-shadow: 1px 1px 26px -7px black
	transition: box-shadow .3s linear .2s
	
.md_overlay
	position: fixed
	width: 100%
	height: 100%
	visibility: hidden
	top: 0
	left: 0
	z-index: 2
	opacity: 0
	background: black
	transition: all 0.3s
	
.md_visible ~ .md_overlay
	opacity: 0.8
	visibility: visible
	

.md_wrapper
	color: #000
	background: #fff
	position: relative
	border-radius: 3px
	margin: 0 auto
	font-weight: 400
	font-size: 1em
	overflow: hidden
	

.md_header
	margin: 0
	padding: 0.4em
	text-align: center
	font-size: 1em
	font-weight: 300
	opacity: 1
	background: HEADER
	color: white
	border-radius: 3px 3px 0 0
	position: relative
	padding: MARGIN_MODAL
	margin: 0
	
	.triangle
		width: 0;
		height: 0;
		border-style: solid;
		W = 10px
		border-width: 8px 8px 0 8px;
		border-color: HEADER transparent transparent transparent;
		position: absolute
		left: 50%
		margin-left: -4px
		top: 100%
	
	h1
		font-size: 1em
		text-transform: uppercase
	.md_logo
		display: block
		
	.tabs
		position: absolute 
		right: MARGIN_MODAL 
		bottom: 0
		open_bold()
		a
			display: inline-block
			padding: 10px 20px
			
			&.active
				background: white
				border-radius: 3px 3px 0 0
				color: GRAY_2


.md_content
	padding: 30px MARGIN_MODAL
	margin: 0
	position: relative
	z-index: 0
	p
		margin: 0
		padding: 10px 0
		
	&.md_login
		color: HEADER
		text-align: left
		font-weight: 600
		font-size: 0.9em
		padding: 18px 0 30px
		
		.icon
			font-size: 1.4em
			margin-right: 10px
			margin-left: 10px
			position: relative
			top: 4px
			
		.buttons
			margin-top: 40px
		

.room_modal
	text-align: left
	width: 350px
	
	.upload_wrapper
		display: none
		
	&.edit_modal
		.upload_wrapper
			display: block

	.md_content
		padding: 20px
	h4
		font-size: 1.3em
		margin-bottom: 10px
	label
		text-transform: uppercase
		font-size: 0.8em
		color: black
		margin-bottom: 10px
		display: block
	
	input
		font-size: 0.75em
		
		&.required
			border: 1px solid RED
		
	.button
		margin-bottom: 10px
		padding-top: 12px
		padding-bottom: 12px
		height: 45px
		
	.edit_label
		display: none
		
	.message
		font-size: 0.8em
		font-weight: 400
		margin: 0
		padding: 0
		position: absolute
		bottom: 7px
		left: 0
		width: 100%
		text-align: center
		display: none
		
	&.edit_modal
		.edit_label
			display: block
			
		.create_label
			display: none
#confirm_exit_modal
	.button
		width: 95px
.little_modal
	h5
		font-size: 1rem
		
	p
		font-size: 0.8rem
	.button
		display: inline-block
		margin: 20px 10px 0
		
	.publish_label
		padding-left: 30px
		padding-right: 30px
		
	.dismiss_label
		font-weight: bold

.md_login
	width: 300px
	margin: 0 auto
	.md_logo
		display: inline-block
		vertical-align: middle
		margin-right: 10px
		

#login .md_wrapper
	background: transparent
		
.no_touch_device
	.room_modal
		.button.yellow_button:hover
			background-image: linear-gradient(180deg, rgb(255, 200, 10) 11%, rgb(245, 190, 0) 42%, rgb(229, 177, 0) 73%)
			color: BLACK
			
	.little_modal .dismiss_label:hover
		background: GRAY_2
			


.slide_from_bottom .md_wrapper
	transform: translateY(200%)
	opacity: 0
	transition: all 0.3s ease-out

.md_show.slide_from_bottom .md_wrapper
	transform: translateY(0)
	opacity: 1