DARK_PERCENTAGE = 5

.button
	border-radius: 2px
	text-align: center
	display: block
	color: white
	letter-spacing: 0.04em
	font-size: 0.9em
	padding: 10px
	padding-top: 9px
	height: 39px
	box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.15), 0px 2px 2px rgba(0, 0, 0, 0.05)
	position: relative
	transition: background-color .1s linear	
	
	&.no_shadow
		box-shadow: none	

	&.facebook
		background-color: #2e5d94
		
	&.soundcloud
		background-color: #ff5224
		
	&.google
		background-color: #F91616
		
	&.signin
		background-color: #2095cf
		
	&.half
		display: inline-block
		width: 48%
		
	&.yellow_button
		background-color : YELLOW
		color: BLACK
		font-weight: 800
		
	&.white_transparent_button
		background: transparent
		border: 1px solid white
		color: white
	
	&.small_button
		font-size: .75em
		padding: 10px
		

.no_touch_device
	.button.facebook:hover
		background-color: darken(#2e5d94, DARK_PERCENTAGE)
		
	.button.soundcloud:hover
		background-color: darken(#ff5224, DARK_PERCENTAGE)
		
	.button.google:hover
		background-color: darken(#F91616, DARK_PERCENTAGE)	

	.button.signin:hover
		background-color: darken(#2095cf, DARK_PERCENTAGE)
		
	.button.yellow_button:hover
		background-color : BLACK
		color: YELLOW
		border: 1px solid YELLOW
	
	.button.white_transparent_button:hover
		background: white
		color: BLACK
		
		
.buttons_flex
	display: flex
	justify-content: space-around
	flex-flow: row wrap
	& > *
		
		width: 47%;  
		margin: 0px 1% 10px; 

.middle_line
	text-align: center
	position: relative
	margin: 40px 0
	open_bold()
	color: #99999c
	span
		display: inline-block
		&:before, &:after

			border-top: 1px solid #e5e5e5
			display: block
			height: 1px
			content: " "
			width: 45%
			position: absolute
			left: 0
			top: 50%

		&:after
			right: 0  
			left: auto 
			
input
	display: block
	border: none
	background: #dedede
	color: BLACK
	border-radius: 3px
	margin-bottom: 20px
	width: 100%
	font-size: 0.9em
	padding: 10px 15px
	&::-webkit-input-placeholder 
	&:-moz-placeholder 
	&::-moz-placeholder
	&:-ms-input-placeholder 
		color: #A9A9A9
		
.hover_object
	.normal_state
		display: block
		
	.hover_state
		display: none
		
	&.hovered
		.normal_state
			display: none
			
		.hover_state
			display: block
