header
	background: BLACK
	position: fixed
	width: 100%
	top: 0
	left: 0
	color: white
	height: 42px
	a
		display: inline-block
		padding: 9px 25px
	.left
		float: left
		a
			border-right: 1px solid #333
		
	.right
		float: right