script
  | window.opener.console.warn( "+ /login/successful for #{username}" );
  | window.opener.console.warn( "+ calling ways.go( '/#{username}' ) on opener" );
  | window.opener.ways.go( "/#{username}" );
  | window.close()