- if ( typeof(user.first_time) !== 'undefined' ) {
  script
    | var first_time = true;
- }

script
  | window.opener.app.login( !{JSON.stringify(user)} );
  | if( typeof(first_time) !== 'undefined' ) window.opener._gaq.push(['_trackEvent', 'Customer Registration', 'Successful', '']);
  | window.close()