extends layout

block content
  h1 Sets

  br
  br
    
  h4 genres

  ul
    for genre in genres
      li #{genre}

  br
  br
    
  h4 sets

  ul
    for set in sets
      li 
        pre
          | author: #{set.author}
          | kind  : #{set.kind}
          | ---