.spritesheet {
  background: url( '../images/spritesheet.png' ) no-repeat;
  background-size: 228px 150px;
}

.spritesheet.medium_white_logo {
  width: 114px;
  height: 70px;
  background-position: 0 0;
}

.spritesheet.medium_black_logo {
  width: 114px;
  height: 70px;
  background-position: -114px 0;
}

.spritesheet.profile_soundcloud {
  width: 48px;
  height: 48px;
  background-position: 0 -70px;
}

.spritesheet.profile_facebook {
  width: 48px;
  height: 48px;
  background-position: -48px -70px;
}

.spritesheet.profile_spotify {
  width: 48px;
  height: 48px;
  background-position: -96px -70px;
}

.spritesheet.sprite_small_logo {
  width: 41px;
  height: 25px;
  background-position: -144px -70px;
}

.spritesheet.sprite_arrow_down_white {
  width: 32px;
  height: 32px;
  background-position: 0 -118px;
}

.spritesheet.google_button_icon {
  width: 20px;
  height: 31px;
  background-position: -32px -118px;
}

.spritesheet.facebook_button_icon {
  width: 16px;
  height: 31px;
  background-position: -52px -118px;
}

.spritesheet.header_settings_hover {
  width: 21px;
  height: 21px;
  background-position: -185px -70px;
}

.spritesheet.header_settings {
  width: 21px;
  height: 21px;
  background-position: -206px -70px;
}

.spritesheet.messages_icon {
  width: 20px;
  height: 16px;
  background-position: -144px -95px;
}

.spritesheet.edit_icon {
  width: 14px;
  height: 19px;
  background-position: -68px -118px;
}

.spritesheet.rooms_icon {
  width: 18px;
  height: 16px;
  background-position: -164px -95px;
}

.spritesheet.sets_icon {
  width: 18px;
  height: 16px;
  background-position: -182px -95px;
}

.spritesheet.people_icon {
  width: 18px;
  height: 16px;
  background-position: -200px -95px;
}

.spritesheet.header_search_icon {
  width: 16px;
  height: 15px;
  background-position: -82px -118px;
}

.spritesheet.small_arrow_white {
  width: 10px;
  height: 5px;
  background-position: -218px -95px;
}



@media (min--moz-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {
.spritesheet {
  background: url( '../images/spritesheet-retina.png' ) no-repeat;
  background-size: 228px 150px;
}

}
