.spritesheet {
  background: url( '../images/spritesheet.png' ) no-repeat;
  background-size: 228px 127px;
}

.spritesheet.medium_black_logo {
  width: 114px;
  height: 70px;
  background-position: 0 0;
}

.spritesheet.medium_white_logo {
  width: 114px;
  height: 70px;
  background-position: -114px 0;
}

.spritesheet.sprite_small_logo {
  width: 41px;
  height: 25px;
  background-position: 0 -70px;
}

.spritesheet.sprite_arrow_down_white {
  width: 32px;
  height: 32px;
  background-position: 0 -95px;
}

.spritesheet.header_settings {
  width: 21px;
  height: 21px;
  background-position: -41px -70px;
}

.spritesheet.header_settings_hover {
  width: 21px;
  height: 21px;
  background-position: -62px -70px;
}

.spritesheet.messages_icon {
  width: 20px;
  height: 16px;
  background-position: -83px -70px;
}

.spritesheet.header_search_icon {
  width: 16px;
  height: 15px;
  background-position: -103px -70px;
}

.spritesheet.small_arrow_white {
  width: 10px;
  height: 5px;
  background-position: -119px -70px;
}



@media (min--moz-device-pixel-ratio: 2),
(-o-min-device-pixel-ratio: 2/1),
(-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {
.spritesheet {
  background: url( '../images/spritesheet-retina.png' ) no-repeat;
  background-size: 228px 127px;
}

}
